<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="../static/scriptJS/contact.js" type="module" defer></script>
    <title>Home</title>
  </head>
  <body>
    <div class="logo__container-desktop">
      <img src="../static/source/images/LOGO.png" alt="" class="logo" />
    </div>
    <nav class="navbar">
      <!-- Nav-mobile -->
      <div class="logo__container-mobile">
        <img src="../static/source/images/LOGO.png" alt="" class="logo" />
      </div>
      <ul class="navbar__menu-mobile menu-mobile">
        <li class="menu__item">
          <a href="main.html" class="link link-about-us">Home</a>
        </li>
        <li class="menu__item">
          <a href="about_us.html" class="link link-about-us">O nas</a>
        </li>
        <li class="menu__item">
          <a href="faq.html" class="link link-about-us">Faq</a>
        </li>
        <li class="menu__item">
          <a href="projects.html" class="link link-our-projects">Projekty</a>
        </li>
        <li class="menu__item">
          <a href="contact.html" class="link link-contact">Kontakt</a>
        </li>
      </ul>

      <!-- Nav-Desktop -->

      <ul class="navbar__menu-desktop menu-desktop">
        <img
          class="current-page-tracker"
          src="../static/source/images/Vector.png"
          alt=""
        />
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('main')}} -->
          <a href="main.html" class="link" data-trackerPos="0">Home</a>
        </li>

        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('about_us')}}-->
          <a
            href="about_us.html"
            class="link link-about-us"
            data-trackerPos="0.9"
            >O nas</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('faq')}} -->
          <a href="faq.html" class="link link-contact" data-trackerPos="1.65"
            >Faq</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('projects')}} -->
          <a
            href="projects.html"
            class="link link-contact"
            data-trackerPos="2.5"
            >Projekty</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('kontakt')}}-->
          <a
            href="contact.html"
            class="link link-contact"
            data-trackerPos="3.55"
            >Kontakt</a
          >
        </li>
      </ul>

      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <!-- /////////////////////////////// -->
    <header class="contact-header">
      <h1 class="contact-header__title">Kontakt</h1>
      <img
        src="../static/source/images/contact-imgs/header-gear.png"
        alt=""
        class="contact-header__image--gear"
      />
      <img
        src="../static/source/images/contact-imgs/header-phone.png"
        alt=""
        class="contact-header__image--phone"
      />
    </header>

    <!-- FORM  -->

    <form class="contact-form" action="#">
      <label for=".name">Imię</label>
      <input type="text" class="name" />
      <label for=".phone">Numer kontaktowy</label>
      <input type="tel" class="phone" />
      <label for=".email">Email</label>
      <input type="email" class="email" />

      <div class="service-type-input-wraper">
        <label for="service-type">Rodzaj usługi</label>
        <input name="service-type" class="service-type" readonly="true"></input>
        <div class="service-type-arrow-container">
          <img class="service-type-arrow" src="../static/source/images/contact-imgs/options-arrow.png" alt="">
        </div>
      </div>
      

      <!-- Options -->
      <div class="options-wraper options-wraper--hide">
        <div  class="option-container  option--hide ">
          <label for="checkbox-project">Project strony internetowej</label>
          <input
            type="checkbox"
            id="checkbox-project"
            value=" Project strony internetowej"
          />
        </div>
        <div class="option-container option--hide">
          <label for="checkbox-progam">Zaprogramowanie i wdrożenie</label>
          <input
            type="checkbox"
            id="checkbox-progam"
            value=" Zaprogramowanie i wdrożenie"
          />
        </div>
        <div class="option-container option--hide">
          <label for="checkbox-refresh">Odświeżenie istniejącej strony</label>
          <input
            type="checkbox"
            id="checkbox-refresh"
            value=" Odświeżenie istniejącej strony"
          />
        </div>
        <div class="option-container option--hide">
          <label for="checkbox-other">Inne</label>
          <input type="checkbox" id="checkbox-other" value=" Inne" />
        </div>
      </div>
      <label for="form-message">Twoja wiadomość</label>
      <textarea class=".form-message" type="text-area"></textarea>
    </form>

    <!-- /////////////////////////////// -->

    <footer class="footer">
      <img
        src="../static/source/images/Footer@3x.png"
        alt="Miętowa zębatka"
        class="footer__img"
      />
      <div class="footer__container">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Home</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">O nas</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Projekt</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">FAQ</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Kontakt</a>
          </li>
        </ul>
        <div class="footer__logo">
          <img src="../static/source/images/LOGO.png" alt="" />
        </div>
        <div class="footer__design-wraper">
          <p class="footer__design-info">Design by</p>
          <p class="footer__designer">Fotorygo</p>
        </div>
      </div>
    </footer>
  </body>
</html>
