<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.scss" />
    <script src="../static/scriptJS/main.js" type="module" defer></script>
    <title>FAQ</title>
  </head>
  <body>
    <div class="logo__container-desktop">
      <img src="../static/source/images/LOGO.png" alt="" class="logo" />
    </div>
    <nav class="navbar">
     
      <div class="logo__container-mobile">
        <img src="../static/source/images/LOGO.png" alt="" class="logo" />
      </div>
      <ul class="navbar__menu-mobile menu-mobile shadow-bg">
        <li class="menu__item">
          <a href="main.html" class="link link-about-us">Home</a>
        </li>
        <li class="menu__item">
          <a href="about_us.html" class="link link-about-us">O nas</a>
        </li>
        <li class="menu__item">
          <a href="faq.html" class="link link-about-us">Faq</a>
        </li>
        <li class="menu__item">
          <a href="projects.html" class="link link-our-projects"
            >Projekty</a
          >
        </li>
        <li class="menu__item">
          <a href="contact.html" class="link link-contact">Kontakt</a>
        </li>
      </ul>

      <!-- Nav-Desktop -->

      <ul class="navbar__menu-desktop menu-desktop">
        <img
          class="current-page-tracker"
          src="../static/source/images/Vector.png"
          alt=""
        />
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('main')}} -->
          <a href="main.html" class="link" data-trackerPos="0">Home</a>
        </li>

        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('about_us')}}-->
          <a
            href="about_us.html"
            class="link link-about-us"
            data-trackerPos="0.9"
            >O nas</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('faq')}} -->
          <a href="faq.html" class="link link-contact" data-trackerPos="1.65"
            >Faq</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('projects')}} -->
          <a href="projects.html" class="link link-contact" data-trackerPos="2.5"
            >Projekty</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('kontakt')}}-->
          <a
            href="contact.html"
            class="link link-contact"
            data-trackerPos="3.55"
            >Kontakt</a
          >
        </li>
      </ul>

      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <!-- end of navbar ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="faq">
      <img src="../static/source/images/bg-grid-left.png" alt="" class="bg-grid-left">
            <img src="../static/source/images/bg-grid-right.png" alt="" class="bg-grid-right">
      <header class="faq__header ">
        <img
          class="faq__header__image"
          src="../static/source/images/faq-header-image.png"
          srcset="
            ../static/source/images/faq-header-image.png    400w,
            ../static/source/images/faq-header-image@2x.png
          "
          alt=""
        />
      </header>
      <section class="faq__items">
        <article class="faq__item" data-index ="1">
            <div class="faq__item__question-container">
                <div class="faq__item__question-container__question">Jak długo trwa projekt?</div>
                <div class="faq__item__question-container__status-marker status-marker">
                    <div class="  status-marker__bar "></div>
                    <div class="  status-marker__bar"></div>
                </div>
            </div>
            <div class="faq__item__answer-container">
                <p class="faq__item__answer-container__answer">Czas realizacji Twojego projektu jesteśmy w stanie oszacować w trakcie 
                    pierwszej konsultacji.</p>
            </div>
          
           
        </article>
        <article class="faq__item" data-index ="2">
            <div class="faq__item__question-container">
                <div class="faq__item__question-container__question">Jaka jest pula poprawek?</div>
                <div class="faq__item__question-container__status-marker status-marker">
                    <div class="status-marker__bar "></div>
                    <div class="status-marker__bar"></div>
                </div>
            </div>
            <div class="faq__item__answer-container">
                <p class="faq__item__answer-container__answer">W trakcie projektu obowiązują 2 pule poprawek w cenie. Pulę definiować 
                    można jako set uwag podczas konsultacji online. Dotyczą one zakresu 
                    zarównograficznego jak i funkcjonalności strony. Istnieje możliwość 
                    dokupienia pul poprawek..</p>
            </div>
          
           
        </article>
        <article class="faq__item" data-index ="3">
            <div class="faq__item__question-container">
                <div class="faq__item__question-container__question">Czy wystawiacie faktury?</div>
                <div class="faq__item__question-container__status-marker status-marker">
                    <div class="  status-marker__bar "></div>
                    <div class="  status-marker__bar"></div>
                </div>
            </div>
            <div class="faq__item__answer-container">
                <p class="faq__item__answer-container__answer">Tak, jak najbardziej..</p>
            </div>
            
          </div>
          </div>
        </article>
      </section>
    </div>

    <!-- footer //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <footer class="footer">
      <img
        src="../static/source/images/Footer@3x.png"
        alt="Miętowa zębatka"
        class="footer__img"
      />
      <div class="footer__container">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Home</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">O nas</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Projekt</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">FAQ</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Kontakt</a>
          </li>
        </ul>
        <div class="footer__logo">logo</div>
        <div class="footer__design-wraper">
          <p class="footer__design-info">Design by</p>
          <p class="footer__designer">Fotorygo</p>
        </div>
      </div>
    </footer>
  </body>
</html>
