<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.scss" />
    <script src="../static/scriptJS/main.js" type="module" defer></script>
    <title>Home</title>
  </head>
  <body>
    <div class="logo__container-desktop">
      <img src="../static/source/images/LOGO.png" alt="" class="logo" />
    </div>
    <nav class="navbar">
      <!-- Nav-mobile -->
      <div class="logo__container-mobile">
        <img src="../static/source/images/LOGO.png" alt="" class="logo" />
      </div>
      <ul class="navbar__menu-mobile menu-mobile">
        <li class="menu__item">
          <a href="index.html" class="link link-about-us">Home</a>
        </li>
        <li class="menu__item">
          <a href="about_us.html" class="link link-about-us">O nas</a>
        </li>
        <li class="menu__item">
          <a href="faq.html" class="link link-about-us">Faq</a>
        </li>
        <li class="menu__item">
          <a href="projects.html" class="link link-our-projects">Projekty</a>
        </li>
        <li class="menu__item">
          <a href="contact.html" class="link link-contact">Kontakt</a>
        </li>
      </ul>

      <!-- Nav-Desktop -->

      <ul class="navbar__menu-desktop menu-desktop">
        <img
          class="current-page-tracker"
          src="../static/source/images/Vector.png"
          alt=""
        />
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('main')}} -->
          <a href="index.html" class="link" data-trackerPos="0">Home</a>
        </li>

        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('about_us')}}-->
          <a
            href="about_us.html"
            class="link link-about-us"
            data-trackerPos="0.9"
            >O nas</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('faq')}} -->
          <a href="faq.html" class="link link-contact" data-trackerPos="1.65"
            >Faq</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('projects')}} -->
          <a
            href="projects.html"
            class="link link-contact"
            data-trackerPos="2.5"
            >Projekty</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('kontakt')}}-->
          <a
            href="contact.html"
            class="link link-contact"
            data-trackerPos="3.55"
            >Kontakt</a
          >
        </li>
      </ul>

      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <header class="main-header">
      <h1 class="main-header__main-title main-title">
        <span>Tworzenie</span>
        <span class="middle">stron</span>
        <span>internetowych</span>
      </h1>
      <img
        class="main-header__image"
        src="../static/source/images/main-header-image.png"
        srcset="
          ../static/source/images/main-header-image.png    750w,
          ../static/source/images/main-header-image@2x.png
        "
        alt=""
      />
    </header>
    <section class="offer">
      <h2 class="offer__title">W czym możemy pomóc?</h2>
      <div class="offer__container">
        <div class="offer__item">
          <img
            class="offer__item__img"
            src="../static/source/images/offer-imgs/Ikona_Koncepcja_strony.png"
            srcset="
              ../static/source/images/offer-imgs/Ikona_Koncepcja_strony.png     850w,
              ../static/source/images/offer-imgs/Ikona_Koncepcja_strony@2x.png 1200w,
              ../static/source/images/offer-imgs/Ikona_Koncepcja_strony@3x.png 1500w
            "
            alt=""
          />
          <p class="offer__item__text">
            Koncepcja strony w oparciu o wywiad z Państwem
          </p>
        </div>
        <div class="offer__item">
          <img
            class="offer__item__img"
            src="../static/source/images/offer-imgs/Ikona_Zaprogramowanie_strony.png"
            srcset="
              ../static/source/images/offer-imgs/Ikona_Zaprogramowanie_strony.png     850w,
              ../static/source/images/offer-imgs/Ikona_Zaprogramowanie_strony@2x.png 1200w,
              ../static/source/images/offer-imgs/Ikona_Zaprogramowanie_strony@3x.png 1500w
            "
            alt=""
            alt=""
          />

          <p class="offer__item__text">Zaprogramowanie Strony</p>
        </div>
        <div class="offer__item">
          <img
            class="offer__item__img"
            src="../static/source/images/offer-imgs/Ikona_Key_Visual.png"
            srcset="
              ../static/source/images/offer-imgs/Ikona_Key_Visual.png     850w,
              ../static/source/images/offer-imgs/Ikona_Key_Visual@2x.png 1200w,
              ../static/source/images/offer-imgs/Ikona_Key_Visual@3x.png 1500w
            "
            alt=""
          />

          <p class="offer__item__text">Key Visual</p>
        </div>
        <div class="offer__item">
          <img
            class="offer__item__img"
            src="../static/source/images/offer-imgs/Ikona_Odświeżenie_strony.png"
            srcset="
              ../static/source/images/offer-imgs/Ikona_Odświeżenie_strony.png     850w,
              ../static/source/images/offer-imgs/Ikona_Odświeżenie_strony@2x.png 1200w,
              ../static/source/images/offer-imgs/Ikona_Odświeżenie_strony@3x.png 1500w
            "
            alt=""
          />

          <p class="offer__item__text">Odświeżenie strony</p>
        </div>
      </div>
      <a href="#" class="offer__form-link">Przejdź do formularza</a>
    </section>

    <!-- Section why worth it? -->
    <section class="worth">
      <h2 class="worth__title">Dlaczego warto?</h2>

      <p class="worth__text">
        Dobrze zaplanowana strategia pomaga zwiększyć dochody, a dobrze wykonana
        strona przynieść realne wyniki i zapaść w pamięć odbiorców. Składa się
        na to wiele czynników takich jak:
      </p>
      <div class="worth__big-box">
        <div class="worth__box">
          <h3 class="worth__box-title">Reklama</h3>
          <p class="worth__box-text">
            Trudno wskazać bardziej wydajny kanał reklamowy niż strona
            internetowa. W przeciwieństwie do innych form reklamowania się,
            strona internetowa jest pozbawiona ograniczeń plakatów, ulotek,
            reklam w prasie lub w telewizji.
          </p>
        </div>
        <div class="worth__box">
          <h3 class="worth__box-title">Wiarygodność</h3>
          <p class="worth__box-text">
            Posiadanie strony internetowej pomaga zwiększyć twoją wiarygodność
            jako przedsiębiorcy. Witryna WWW jest swoistym wyznacznikiem
            profesjonalizmu, a opinie klientów potrafią przekonać
            niezdecydowanych.
          </p>
        </div>
        <div class="worth__box">
          <h3 class="worth__box-title">
            Prezentacja <br />
            oferty
          </h3>
          <p class="worth__box-text">
            Dzięki stronie internetowej w łatwy sposób możesz zaprezentować
            pełen asortyment swoich usług lub produktów w dowolnej formie.
          </p>
        </div>
        <div class="worth__box">
          <h3 class="worth__box-title">
            Oszczedność <br />
            czasu
          </h3>
          <p class="worth__box-text">
            Dobrze zaprojektowana witryna odpowiada na pytania klientów.
            Przemyślana treść i opisy uchronią Cię przed nieustannym
            odpowiadaniem na pytania klientów.
          </p>
        </div>
        <div class="worth__box">
          <h3 class="worth__box-title">Konkurencja</h3>
          <p class="worth__box-text">
            Prawdopodobnie konkurencja z Twojej branży posiada już stronę, ze
            względu na poprzednie argumenty, aby stać się bardziej
            konkurencyjnym Ty również powinieneś posiadać stronę.
          </p>
        </div>
      </div>
    </section>
    <section class="process">
      <h2 class="process__title">Jak wygląda proces?</h2>
      <div class="process__gear">
        <img
          src="../static/source/images/Background_Jak wygląda proces_.png"
          alt="pomarańczowa zębatka"
          class="process__gear-img"
        />
        <div class="process__gear__box">
          <div class="process__gear__box__item">
            <span
              class="process__gear__box__item-number process__gear__box__item-number--bigger"
              >1</span
            >
            <span class="process__gear__box__item-text"
              >Wywiad i poznanie Twoich potrzeb
            </span>
          </div>
          <div class="process__gear__box__item">
            <span class="process__gear__box__item-number">2</span>
            <span class="process__gear__box__item-text"
              >Reseach i analiza
            </span>
          </div>
          <div class="process__gear__box__item">
            <span class="process__gear__box__item-number">3</span>
            <span class="process__gear__box__item-text"
              >Projekt wizualny i funkcjonalny
            </span>
          </div>
          <div class="process__gear__box__item">
            <span class="process__gear__box__item-number">4</span>
            <span class="process__gear__box__item-text"
              >Konsultacja projektu
            </span>
          </div>
          <div class="process__gear__box__item">
            <span class="process__gear__box__item-number">5</span>
            <span class="process__gear__box__item-text"
              >Programowanie strony
            </span>
          </div>
          <div class="process__gear__box__item">
            <span class="process__gear__box__item-number">6</span>
            <span class="process__gear__box__item-text"
              >Umieszczanie na serwerach
            </span>
          </div>
          <a href="#" class="process__gear__box-btn">Zobacz portfolio!</a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <img
        src="../static/source/images/Footer@3x.png"
        alt="Miętowa zębatka"
        class="footer__img"
      />
      <div class="footer__container">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Home</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">O nas</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Projekt</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">FAQ</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="#">Kontakt</a>
          </li>
        </ul>
        <div class="footer__logo">
          <img src="../static/source/images/LOGO.png" alt="" />
        </div>
        <div class="footer__design-wraper">
          <p class="footer__design-info">Design by</p>
          <p class="footer__designer">Fotorygo</p>
        </div>
      </div>
    </footer>
  </body>
</html>
