<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css' )}}" />
    <script src="{{url_for('static', filename='scriptJS/main.js' )}}" type="module"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <img src="{{url_for('static', filename='logo/logo.png' )}}" alt="Logo"/>

      <ul class="navbar__menu-desktop menu-desktop">
        <li class="menu__item">
          <a href={{url_for('about_us')}} class="link link-about-us">O Nas</a>
        </li>
        <li class="menu__item">
          <a href={{url_for('projects')}} class="link link-our-projects">Nasze Projekty</a>
        </li>
        <li class="menu__item">
          <a href={{url_for('contact')}} class="link link-contact">Kontakt</a>
        </li>
      </ul>
      <ul class="navbar__menu-mobile menu-mobile">
        <li class="menu__item">
          <a href="#" class="link link-about-us">O Nas</a>
        </li>
        <li class="menu__item">
          <a href="#" class="link link-our-projects">Nasze Projekty</a>
        </li>
        <li class="menu__item">
          <a href="#" class="link link-contact">Kontakt</a>
        </li>
      </ul>

      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <header class="header">
      <h1 class="main-title">Lorem, ipsum dolor.</h1>
      <button class="header__button button button-learn-more">
        Learn more
      </button>
    </header>
  </body>
</html>
