<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/main.scss" />
    <script src="../static/scriptJS/main.js" type="module" defer></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <p class="logo">Logo</p>

      <!-- <img src="" alt="logo" class="navbar__logo logo" /> -->

      <!-- Nav-mobile -->

      <ul class="navbar__menu-mobile menu-mobile">
        <li class="menu__item">
          <a href="{{url_for('main')}}" class="link link-about-us">Home</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('about_us')}}" class="link link-about-us">O nas</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('faq')}}" class="link link-about-us">Faq</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('projects')}}" class="link link-our-projects"
            >Projekty</a
          >
        </li>
        <li class="menu__item">
          <a href="{{url_for('kontakt')}}" class="link link-contact">Kontakt</a>
        </li>
      </ul>

      <!-- Nav-Desktop -->

      <ul class="navbar__menu-desktop menu-desktop">
        <img
          class="current-page-tracker"
          src="../static/source/images/Vector.png"
          alt=""
        />
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('main')}} -->
          <a href="#" class="link link-our-projects" data-trackerPos="0"
            >Home</a
          >
        </li>

        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('about_us')}}-->
          <a href="#" class="link link-about-us" data-trackerPos="0.9">O nas</a>
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('faq')}} -->
          <a href="#" class="link link-contact" data-trackerPos="1.65">Faq</a>
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('projects')}} -->
          <a href="#" class="link link-contact" data-trackerPos="2.5"
            >Projekty</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!--  {{url_for('kontakt')}}-->
          <a href="#" class="link link-contact" data-trackerPos="3.55"
            >Kontakt</a
          >
        </li>
      </ul>

      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <header class="header">
      <h1 class="header__main-title main-title">
        <span>Tworzenie</span>
        <span class="middle">stron</span>
        <span>internetowych</span>
      </h1>
      <img
        class="header__image"
        src="../static/source/images/Top_komputer@2x.png"
        alt=""
      />
    </header>
    <section class="offer">
      <h2 class="offer__title">W czym możemy pomóc?</h2>
      <div class="offer__container">
        <div class="offer__item">
          <img
            src="../static/source/images/Ikona_Koncepcja strony.png"
            alt=""
          />
          <p class="offer__item__text">
            Koncepcja strony w oparciu o wywiad z Państwem
          </p>
        </div>
        <div class="offer__item">
          <img
            src="../static/source/images/Ikona_Koncepcja strony.png"
            alt=""
          />

          <p class="offer__item__text">Zaprogramowanie Strony</p>
        </div>
        <div class="offer__item">
          <img
            src="../static/source/images/Ikona_Koncepcja strony.png"
            alt=""
          />

          <p class="offer__item__text">Key Visual</p>
        </div>
        <div class="offer__item">
          <img
            src="../static/source/images/Ikona_Koncepcja strony.png"
            alt=""
          />

          <p class="offer__item__text">Odświerzenie strony</p>
        </div>
      </div>
    </section>
  </body>
</html>
