<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="../static/scriptJS/main.js" type="module" defer></script>
    <title>Home</title>
  </head>
  <body>
    <div class="logo__container-desktop">
      <img src="../static/source/images/LOGO.png" alt="" class="logo" />
    </div>

    <nav class="navbar" data-currentPos="2.8">
      <!-- Nav-mobile -->
      <div class="logo__container-mobile">
        <img src="../static/source/images/LOGO.png" alt="" class="logo" />
      </div>
       <ul class="navbar__menu-mobile menu-mobile">
        <li class="menu__item">
          <a href="{{url_for('index')}}" class="link link-about-us">Home</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('about')}}" class="link link-about-us">O nas</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('faq')}}" class="link link-about-us">Faq</a>
        </li>
        <li class="menu__item">
          <a href="{{url_for('projects')}}" class="link link-our-projects"
            >Projekty</a
          >
        </li>
        <li class="menu__item">
          <a href="{{url_for('kontakt')}}" class="link link-contact">Kontakt</a>
        </li>
      </ul>
      </ul>

      <!-- Nav-Desktop -->

      <ul class="navbar__menu-desktop menu-desktop">
        <img
          class="current-page-tracker"
          src="../static/source/images/pageTracker.png"
          alt=""
        />
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('main')}} -->
          <a href="index.html" class="link" data-trackerPos="0.04">Home</a>
        </li>

        <li class="menu__item-desktop menu__item">

          <a
            href="{{url_for('about')}}"
            class="link link-about-us"
            data-trackerPos="0.95"
            >O nas</a
          >
        </li>
        <li class="menu__item-desktop menu__item">
          <!-- {{url_for('faq')}} -->
          <a href="faq.html" class="link link-contact" data-trackerPos="1.9">Faq</a>
        </li>
        <li class="menu__item-desktop menu__item">

          <a
            href="{{url_for('projects')}}"
            class="link link-contact"
            data-trackerPos="2.8"
            >Projekty</a
          >
        </li>
        <li class="menu__item-desktop menu__item">

          <a
            href="{{url_for('kontakt')}}"
            class="link link-contact"
            data-trackerPos="3.75"
            >Kontakt</a
          >
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar bar-1"></span>
        <span class="bar bar-2"></span>
        <span class="bar bar-3"></span>
      </div>
    </nav>
    <!-- ////////////////// -->
    <div class="project">
      <header class="project__header">
        <h1 class="project__header__main-title">
          Strona dla agencji marketingowej
        </h1>
        <a href="{{url_for('projects')}}" class="project__header__link"
          >Wróć do reszty projektów
          <span class="link__current-site"
            >< Strona dla agencji marketingowej</span
          >
        </a>
      </header>
      <img
        src="../static/source/images/projects-imgs/project-website-for-agency.jpg"
        alt=""
        class="project__miniature"
      />
      <!-- ////////////////////////////// -->
      <section class="client">
        <img
          class="client__sign-img section__header"
          src="../static/source/images/projects-imgs/single-projects/client-sign.png"
          srcset="
          ../static/source/images/projects-imgs/single-projects/client-sign.png    1000w,
          ../static/source/images/projects-imgs/single-projects/client-sign@2x.png 1334w
          "
          alt="Klient"
        />

        <div class="client__info">
          Agencja PR & Digital marketingu & Social Media Communicatovo z
          Warszawy zwróciła się do nas o odświeżenie wyglądu swojej strony.
        </div>
      </section>
      <!-- ////////////////////////////// -->
      <section class="work">
        <div class="work__text-wraper">
          <img
            class="project__sign-img section__header"
            src="../static/source/images/projects-imgs/single-projects/project-sign.png"
            srcset="
            ../static/source/images/projects-imgs/single-projects/project-sign.png    1000w,
            ../static/source/images/projects-imgs/single-projects/project-sign@2x.png 1334w
            "
            alt="Projekt"
          />

          <div class="work__info-container">
            <article class="work__info__step">
              <h3 class="title">Cel współpracy</h3>
              <p class="describe">
                Przygotowanie charakterystycznego key visual mocno
                wyróżniającego się na tle konkurencji, a także wdrożenie w pełni
                funkcjonalnej strony.
              </p>
              <img
                class="arow-down-image arow-down-image--left"
                src="../static/source/images/projects-imgs/single-projects/project-arrow-down.png"
                alt=""
              />
            </article>
            <article class="work__info__step">
              <h3 class="title">W jaki sposób działaliśmy?</h3>
              <p class="describe">
                Na początku analiza potrzeb oraz konkurencji. Po konsultacjach
                przystąpienie do budowy odważnego, nowoczesnego stylu. W trakcie
                prowadzone są testy oraz rozwijana jest funkcjonalność.
              </p>
              <img
                class="arow-down-image arow-down-image--right"
                src="../static/source/images/projects-imgs/single-projects/project-arrow-down.png"
                alt=""
              />
            </article>
            <article class="work__info__step">
              <h3 class="title">Efekty współpracy</h3>
              <p class="describe">
                Responsywna przejrzysta strona internetowa, a także
                identyfikacja wizualna pozwalająca na eleastyczne wykorzystanie
                w kanałach social media.
              </p>
              <img
                class="arow-down-image"
                src="../static/source/images/projects-imgs/single-projects/project-arrow-down.png"
                alt=""
              />
            </article>
            <article class="work__info__step">
              <h3 class="title">Opinia klienta</h3>
              <p class="describe">
                Klient zadowolony z merytorycznej, sprawnie działącej strony. Po
                nakierowaniu na obserwację zagranicznych agencji zgodził się z
                opinią, że warto jest wychodzić poza utarte schematy.
              </p>
            </article>
          </div>
        </div>

        <div class="work__image-container">
          <img src="../static/source/images/projects-imgs/single-projects/projects-click-to-open.png" alt="kliknij aby obejrzeć cały projekt" class="click-to-open-fullView">
          <img
            src="../static/source/images/projects-imgs/single-projects/agency-site/agency-site-full-view.png"
            srcset="
            ../static/source/images/projects-imgs/single-projects/agency-site/agency-site-full-view.png    1050w,
            ../static/source/images/projects-imgs/single-projects/agency-site/agency-site-full-view@2x.png
            "
            alt="strona agencji pełen widok"
            class="work__image"
          />
        </div>
       
      </section> 
      <div class="work__project-fullView work__project-fullView--hide ">
          <div class="layer"></div>
          <button class="close-fullView"><img src="../static/source/images/projects-imgs/single-projects/Close.svg" alt="close full view"></button>
          <img alt="Pełny widok projektu" src="../static/source/images/projects-imgs/single-projects/agency-site/agency-site-full-view@2x.png" class="projekt-fullView-image"></img>
        </div>
      <!-- /////////////////////////////// -->
      <section class="write-to-us">
        <h3 class="write-to-us__title">Spodobał Ci sie projekt?</h3>
        <p class="write-to-us__message">Zamów swój!</p>
        <a href="../templates/contact.html">
          <button class="write-to-us__button button">Napisz do nas</button></a>
      </section>
      <!-- /////////////////// -->
      <section class="project__botom-navigation">
        <a
          href="{{url_for('projects')}}"
          class="previous-project project-navigation__link"
        >
          <img
            src="../static/source/images/projects-imgs/single-projects/botom-navigation-arrow.png"
            alt=""
            class="previous-project__icon"
          />wszystkie projekty</a
        >
        <a
         href="{{url_for('project_business_packages')}}"
          class="next-project project-navigation__link"
          >następny project<img
            src="../static/source/images/projects-imgs/single-projects/botom-navigation-arrow.png"
            alt=""
            class="next-project__icon"
        /></a>
      </section>
    </div>

    <!-- ////////////////// -->
    <footer class="footer">
      <img
        src="../static/source/images/Footer@3x.png"
        alt="Miętowa zębatka"
        class="footer__img"
      />
      <div class="footer__logo">
        <img src="../static/source/images/LOGO.png" alt="" />
      </div>
      <div class="footer__container">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="{{url_for('about')}}">O nas</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="{{url_for('projects')}}">Projekt</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="{{url_for('faq')}}">FAQ</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__item__link" href="{{url_for('kontakt')}}">Kontakt</a>
          </li>
        </ul>

        <div class="footer__design-wraper">
          <p class="footer__design-info">Design by</p>
          <p class="footer__designer">Fotorygo</p>
        </div>
      </div>
    </footer>
    <div class="goUp goUp--active">
      <img
        src="../static/source/images/goUp-img.png"
        alt=""
        class="goUp__img"
      />
      <p class="goUp__caption">do góry</p>
    </div>
  </body>
</html>
