.about-us {
  &__header {
    width: 100%;
    margin-top: 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      color: white;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.857);
      font-size: 2.2rem;
      background-color: $secondary-color;
      padding: 1.2rem 6rem;
      border-radius: 0 6rem 0 6rem;
      box-shadow: 0 0.4rem 1.5rem -0.5rem #ffffff;
      margin-bottom: 2rem;
    }
    &__text-container,
    .text-container {
      padding: 5rem 5rem;
      font-family: "jost", sans-serif;
      color: $secondary-color;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 4rem;
      &__paragraph {
        margin-bottom: 2.5rem;
        line-height: 2.5rem;
      }
      .bold {
        font-weight: 600;
      }
    }
  }
  &__team,
  .team {
    color: $secondary-color;
    margin: 4rem auto;
    display: inline-block;
    text-align: center;

    &__title {
      font-size: 3rem;
      margin-bottom: 3.8rem;
      letter-spacing: 1rem;
    }
    &__member {
      margin-bottom: 5rem;
      &__photo {
        width: 20rem;
      }
      &__description,
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__name {
          color: $font-color-mobile-menu;
          font-size: 2.2rem;
          margin-bottom: 0rem;
          line-height: 4.5rem;
        }
        &__job {
          font-size: 2.2rem;
          font-family: "Jost", sans-serif;
          font-weight: 700;
          margin-bottom: 2rem;
          letter-spacing: 0.16rem;
          line-height: 3.2rem;
        }
        &__text {
          color: $font-color-mobile-menu;
          font-size: 1.5rem;
          font-family: "Jost", sans-serif;
          line-height: 2.5rem;
          width: 80%;
        }
      }
    }
  }
}
@media screen and (min-width: 750px) {
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
      width: 90%;
      margin: 0 auto;
      margin-top: 80rem;
      border: 5px solid $secondary-color;
      position: relative;
      border-radius: 0 10rem 0 10rem;
      text-align: center;

      &__title {
        max-width: 80%;
        font-size: 5.5rem;

        position: absolute;
        top: 0;
        transform: translateY(-50%);
      }

      &__img {
        position: absolute;
        top: -70rem;
        width: 70%;
        transition: 0.5s ease-in-out all;
      }
      .text-container {
        font-size: 2.2rem;
        text-align: start;
        padding: 10rem 8rem;
        &__paragraph {
          &:last-child {
          }
        }
      }
    }
    &__team,
    .team {
      &__title {
        font-size: 8rem;
        margin: 15rem;
      }
      &__members-wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      &__member {
        width: 50%;

        &__photo {
          width: 30rem;
        }
        &__description,
        .description {
          &__name {
            font-size: 3rem;
            margin-bottom: 2.5rem;
          }
          &__job {
            font-size: 3rem;
            margin-bottom: 2.5rem;
          }
          &__text {
            font-size: 3rem;
            line-height: 4.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__header {
      width: 90%;
      margin-top: 20rem;
      border: 5px solid $secondary-color;
      position: relative;
      border-radius: 0 20rem 0 20rem;

      &__img {
        position: absolute;
        max-width: 45rem;
        top: unset;
        bottom: 0;
        right: 1%;
        transform: translateY(50%);
      }

      &__title {
        width: 60%;
        font-size: 6rem;
        text-align: center;
        position: absolute;
        top: 0;
        transform: translateY(-40%);
      }
      .text-container {
        font-size: 2.2rem;
        text-align: start;
        // padding: 10rem 3rem;
        &__paragraph {
          &:last-child {
            margin-right: 50%;
          }
        }
      }
    }
    .team {
      &__title {
        margin-top: 25rem;
      }
    }
  }
}
