.button {
  border: 3px solid $secondary-color;
  color: $secondary-color;
  background: none;
  border-radius: 0 13rem;
  font-family: Helvetica-Nouel, sans-serif;
  font-size: 2.2rem;
  padding: 1.3rem 5.9rem 1.86rem 5.9rem;
  text-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease;
  position: relative;

  &::before {
    transition: all 0.5s ease;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $accent-color-dark;
    left: -4%;
    top: -15%;
    z-index: -1;
    border-radius: 0 13rem;
    box-shadow: 0px 0.5rem 1.5rem rgba(255, 255, 255, 0.3);
  }
  &:hover {
    color: white;
    transition: all 0.5s ease;
    &::before {
      transition: all 0.5s ease;
      background-color: $secondary-color;

      color: white;
    }
  }
}
