.button {
  transition: all 0.2s ease-in-out;
  font-family: "Kanit", sans-serif;
  background: none;
  border: 5px solid white;
  padding: 5px 10px;
  border-radius: 0.8rem;
  color: white;
  font-size: 1.2rem;
  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px rgb(103, 102, 102);
    padding: 5px 30px;
    color: rgba(var(--secondary-color));
    border: 5px solid rgba(var(--secondary-color));
  }
}

a {
  color: black;
}
