.contact-header {
  width: 90%;
  margin: 15rem auto 8rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__title {
    color: $secondary-color;
    font-size: 3.5rem;
    transition: 0.5s font-size ease;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
  &__image--gear {
    position: absolute;
    transform: translateX(-22%);
    z-index: -2;
    transition: width 0.5s ease;
    width: 18rem;
  }
  &__image--phone {
    position: absolute;
    z-index: -1;
    transform: translate(12%, 10%);
    transition: width 0.5s ease-in-out;
    width: 30rem;
  }
}

.form__row {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.form__label {
  font-family: "Jost", sans-serif;
  color: $secondary-color;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
.form__input {
  border: 3px solid $secondary-color;
  width: 100%;
  background: none;
  color: white;
  height: 8rem;
  padding-left: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;

  &:focus {
    background-color: $secondary-color;
    color: black;
  }
}
.options-container {
  .wraper {
    position: relative;
    .form__service-type {
      margin-bottom: 0;
    }
    .img-container {
      height: 100%;
      position: absolute;

      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
    }
  }
  .service-types {
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.3s height ease 0.3s, 0.3s opacity ease,
      0.1s visibility ease 0.3s;

    .type-wraper {
      font-family: "Jost", sans-serif;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      padding: 1.5rem;
      &:hover {
        background-color: $secondary-color;
      }
      input {
        position: relative;
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
        accent-color: $secondary-color;
        &::after {
          content: "";
          display: block;
          width: 3rem;
          height: 3rem;
          border: 3px solid $secondary-color;
        }
      }
    }
  }
  .service-typse-activ {
    visibility: visible;
    height: 28rem;
    opacity: 1;
    transition: 0.3s height ease, 0.3s opacity ease 0.2s;
  }
}
.form__message {
  padding: 1.5rem;
  min-height: 45rem;
  margin-bottom: 1rem;
}
.button {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

.contact__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(76, 75, 75, 0.271);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 2;
}
.contact__overlay--active {
  display: block;
}

.input-error {
  border-color: red;
}
.input-error-2 {
  border-color: red;
}
.error-message {
  width: 100%;
  background: none;
  margin-bottom: 4rem;
  font-family: "Jost", sans-serif;
  color: rgb(255, 255, 255);
  display: none;
  font-size: 1.5rem;
}
.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  z-index: 10;
  &__title {
    color: white;
    background-color: $secondary-color;
    font-size: 2rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 6rem 0 6rem;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
  }
  &__message {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    font-family: "Jost", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 6rem 2rem 3rem 2rem;
    border-radius: 0 0 0 6rem;
    line-height: 3rem;

    z-index: -1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.show-options {
  transition: 0.3s transform ease-in-out;
}
.show-options-active {
  transform: rotateX(180deg);
  transition: 0.3s transform ease-in-out;
}
.confirmation-active {
  display: block;
}

@media only screen and (min-width: 750px) {
  .contact-header {
    margin: 20rem auto 18rem;

    &__title {
      font-size: 8rem;
      transition: 0.5s font-size ease;
    }
    &__image--gear {
      width: 36rem;
    }
    &__image--phone {
      transform: translate(16%, 10%);
      width: 53rem;
    }
  }

  .form__label {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }
  .form__input {
    height: 12.5rem;
    padding-left: 4rem;
    font-size: 3.5rem;
  }
  .options-container {
    .wraper {
      position: relative;
      .form__service-type {
        margin-bottom: 0;
      }
      .img-container {
        background-color: $secondary-color;
      }
    }
    .service-types {
      .type-wraper {
        font-size: 3rem;

        padding: 1.5rem;
        padding-left: 4rem;
      }
    }
    .service-typse-activ {
      visibility: visible;
      height: 34rem;
      opacity: 1;
      transition: 0.3s height ease, 0.3s opacity ease 0.2s;
    }
  }
  .form__message {
    padding: 1.5rem;
    min-height: 45rem;
    margin-bottom: 1rem;
  }
  .button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: 14rem;
  }

  .error-message {
    font-size: 2rem;
  }
  .confirmation {
    &__title {
      font-size: 3rem;
      width: 70%;
    }
    &__message {
      width: 65%;
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .contact-header {
    margin: 15rem auto 5rem;
  }

  .form__label {
    font-size: 4.5rem;
  }

  .button {
    width: 30%;
  }

  .contact__overlay--active {
    display: block;
  }

  .error-message {
    font-size: 2.5rem;
  }
  .confirmation {
    &__title {
      font-size: 4.5rem;
      width: 60%;
    }
    &__message {
      width: 55%;
      padding-top: 10rem;
      padding-bottom: 5rem;
      font-size: 2.5rem;
      line-height: 5rem;
    }
  }
}
