.contact-header {
  width: 90%;
  margin: 15rem auto 8rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__title {
    color: $secondary-color;
    font-size: 3.5rem;
    transition: 0.5s font-size ease;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
  &__image--gear {
    position: absolute;
    transform: translateX(-22%);
    z-index: -2;
    transition: width 0.5s ease;
    width: 18rem;
  }
  &__image--phone {
    position: absolute;
    z-index: -1;
    transform: translate(12%, 10%);
    transition: width 0.5s ease-in-out;
    width: 30rem;
  }
}

.contact-form {
  width: 90%;
  margin: 0 auto;

  label {
    display: block;
    color: $secondary-color;
    font-size: 2.2rem;
    font-family: "Jost", sans-serif;
    margin-bottom: 1rem;
  }

  // all inputs
  input,
  textarea {
    display: block;
    background: none;
    border: 3px solid $secondary-color;
    width: 100%;

    margin-bottom: 6rem;
    color: white;
    font-family: "Jost", sans-serif;

    padding: 1.5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;

    &:focus {
      background-color: $secondary-color;
      color: black;
    }
  }
  // input-select options
  .service-type-input-wraper {
    position: relative;
    .service-type {
      margin-bottom: 0;
    }
    .service-type-arrow-container {
      position: absolute;
      bottom: 50%;
      right: 5%;
      transform: translateY(75%);

      height: 7.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /// All options
  .options-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    height: 40rem;
    transition: 0.5s height ease, opacity 0.2s ease-in 0.2s;
    background-color: white;
    margin-bottom: 6rem;
    .option-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      &:hover {
        background-color: $secondary-color;
      }
      input {
        width: 4rem;
        height: 4rem;

        // -moz-appearance: none;
        // -webkit-appearance: none;
        // -o-appearance: none;
        accent-color: $secondary-color;
        background-color: black;
        margin: 2.3rem;
        border: 3px solid $secondary-color;
      }
      label {
        margin: 0;
        font-size: 2rem;
        color: black;
      }
    }
  }
  .options-wraper--hide {
    height: 0;
    transition: 0.5s height ease 0.2s, opacity 0.2s ease-in,
      visibility 0.1s ease 0.5s;
    visibility: hidden;
    opacity: 0;
  }

  // text area
  textarea {
    min-height: 45rem;
  }
}
.button-send-form {
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  width: 80%;
  margin-bottom: 8.5rem;
}

// Tablets

@media screen and (min-width: 750px) {
  .contact-header {
    margin: 30rem auto 20rem;
    &__title {
      font-size: 8rem;
    }
    &__image--gear {
      position: absolute;
      transform: translateX(-22%);
      z-index: -2;
      width: 36rem;
    }
    &__image--phone {
      transform: translate(8%, 10%);
      width: 65.5rem;
    }
  }
  .contact-form {
    width: 90%;
    margin: 0 auto;

    label {
      font-size: 3rem;

      margin-bottom: 1.8rem;
    }

    // all inputs
    input,
    textarea {
      padding: 3.5rem;
      font-size: 3.5rem;
    }
    // input-select options
    .service-type-input-wraper {
      .service-type-arrow-container {
        width: 11.8rem;
        bottom: 0;
        right: 0;
        transform: translateY(0);
        height: 12.8rem;

        background-color: $secondary-color;
      }
    }

    /// All options
    .options-wraper {
      .option-container {
        input {
          width: 4rem;
          height: 4rem;
          // -moz-appearance: none;
          // -webkit-appearance: none;
          // -o-appearance: none;
          accent-color: $secondary-color;
          background-color: black;
          margin: 2.3rem;
          border: 3px solid $secondary-color;
        }
        label {
          margin: 0;
          font-size: 3.5rem;
          color: black;
        }
      }
    }
    .options-wraper--hide {
      height: 0;
      transition: 0.5s height ease 0.2s, opacity 0.2s ease-in,
        visibility 0.1s ease 0.5s;
      visibility: hidden;
      opacity: 0;
    }
  }
  .button-send-form {
    margin: 11rem auto 10.5rem;
    display: block;
    font-size: 3rem;
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .contact-form {
    width: 80%;
  }
  .button-send-form {
    margin: 11rem auto 10.5rem;
    display: block;
    font-size: 3rem;
    width: 30%;
  }
}
