.faq {
  position: relative;
  &__header {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 7rem;

    &__image {
      max-width: 23rem;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    width: 90%;
    margin-bottom: 7rem;
    border: 2px solid $secondary-color;
    border-radius: 0 8rem 0 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background-color: black;

    //top
    &__question-container {
      background-color: $secondary-color;
      width: 100%;
      border-radius: 0 0 0 8rem;
      z-index: 10;
      cursor: pointer;
      &__question {
        font-size: 2rem;
        padding: 3.1rem 4.4rem 3.5rem 4.4rem;
        text-align: center;
      }
      &__status-marker {
        display: none;
      }
    }
    //bottom
    &__answer-container {
      &__answer {
        width: 100%;
        color: white;
        font-size: 2.2rem;
        font-family: Jost, sans-serif;
        text-align: center;
        padding: 3rem 3rem 5rem 3rem;
      }
    }
  }
  .bg-grid-left {
    position: absolute;
    bottom: 6%;
  }
  .bg-grid-right {
    position: absolute;
    right: 0%;
    bottom: 40%;
  }
}
@media screen and (min-width: 1050px) {
  .faq {
    &__header {
      margin-top: 7.5rem;
      margin-bottom: 8.5rem;
      &__image {
        max-width: 37rem;
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      margin-bottom: 20rem;
    }
    &__item {
      max-width: 100rem;
      border: none;
      border-radius: 0 8rem 0 0;
      position: relative;
      display: flex;
      width: 90%;
      margin-bottom: 1rem;
      &__question-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 6rem;
        border-radius: 0 12rem 0 12rem;
        &__question {
          padding: 3.75rem 1rem 3.75rem 5rem;
          font-size: 2rem;
        }
        &__status-marker,
        .status-marker {
          height: 3.3rem;
          width: 3.3rem;
          background-color: $primary-color;
          border-radius: 50%;
          margin-right: 5rem;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;

          &__bar {
            height: 0.2rem;
            width: 1.7rem;
            background-color: $secondary-color;
            position: absolute;
            transition: 0.3s transform ease-in-out;
            &:nth-child(1) {
              transform: rotate(90deg);
            }
          }
          &__bar--open {
            &:nth-child(1) {
              transform: rotate(-180deg);
              transition: 0.3s transform ease-in-out;
            }
          }
        }
      }
      &__answer-container {
        border: 3px solid $secondary-color;
        width: 96%;
        border-radius: 0 12rem 0 6rem;
        border-width: 5px;
        padding: 6rem 18rem 2rem 18rem;
        opacity: 0;
        transform: translateY(-5.5rem);
        max-height: 0;
        transition: 0.8s max-height ease 0.1s, 0.8s opacity ease;

        &__answer {
          font-size: 2rem;
          text-align: start;
        }
        &__answer--open {
          transition: 0.8s all ease;
        }
      }
      &__answer-container--open {
        max-height: 100rem;
        padding: 6rem 18rem 2rem 18rem;
        opacity: 1;
        transition: 0.8s max-height ease, 0.8s opacity ease 0.1s;
      }
    }
    .bg-grid-left {
      display: none;
    }
    .bg-grid-right {
      display: none;
    }
  }
}
