.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 63rem;
  position: relative;

  overflow: hidden;
  &__logo {
    display: none;
  }
  &__img {
    width: 200%;
    animation: "rotateFooterBorder" 100s linear infinite;
  }
  &__container {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica-nouel--normal", sans-serif;
    font-size: 2.5rem;
  }
  &__logo {
    color: transparent;
    display: inline-block;
    -webkit-text-stroke: 2px black;
    font-size: 2rem;
    background-color: $secondary-color;
    display: none;
  }
  &__list {
    list-style: none;
    text-align: center;
    margin-bottom: 5rem;

    &__item {
      &__link {
        color: $secondary-color;
        text-decoration: none;
        line-height: 5.5rem;
        text-align: center;
      }
    }
  }
  &__design-info {
    color: $accent-color-dark;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 500;
    &::after {
      margin-top: 1rem;
      height: 0.3rem;
      content: "";
      background-color: $accent-color-dark;
      width: 100%;
      display: block;
    }
  }
  &__designer {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
  }
}

@keyframes rotateFooterBorder {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 850px) {
  .footer {
    padding-top: 1rem;

    &__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      height: 50%;
      min-width: 50%;
      top: 50%;
    }
    &__logo {
      display: block;
      align-self: flex-start;
      font-size: 5.5rem;
      padding: 1.1rem 3.8rem;
      letter-spacing: 1rem;
    }
    &__list {
      align-self: center;
      align-self: flex-end;
      height: 50%;
      margin: 0;
    }
    &__design-wraper {
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      color: $secondary-color;
      height: 50%;
    }
    &__design-info {
      color: $secondary-color;

      &::after {
        display: none;
      }
    }
    &__designer {
      text-align: start;
    }
  }
}
