.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 63rem;
  position: relative;
  background-color: black;
  overflow: hidden;

  &__img {
    width: 200%;
  }
  &__container {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-family: "Helvetica-nouel--normal", sans-serif;
    font-size: 2.5rem;
  }
  &__logo {
    display: block;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10rem;
    img {
      width: 15rem;
    }
  }
  &__list {
    list-style: none;
    text-align: center;
    margin-bottom: 5rem;

    &__item {
      &__link {
        color: $secondary-color;
        text-decoration: none;
        line-height: 5.5rem;
        text-align: center;
      }
    }
  }
  &__design-info {
    color: $accent-color-dark;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 500;
    &::after {
      margin-top: 1rem;
      height: 0.3rem;
      content: "";
      background-color: $accent-color-dark;
      width: 100%;
      display: block;
    }
  }
  &__designer {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    text-align: center;
  }
}

@keyframes rotateFooterBorder {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    height: 80rem;
    padding-top: 1rem;
    &__img {
      animation: "rotateFooterBorder" 100s linear infinite;
    }

    &__container {
      height: 50%;
      width: 70rem;
      top: 50%;
    }
    &__logo {
      display: flex;
      align-self: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 30rem;
      }
    }
    &__list {
      position: absolute;
      right: 15%;
      bottom: -45%;

      text-align: start;
      margin: 0;
    }
    &__design-wraper {
      width: 33%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      font-size: 2.5rem;
      color: $secondary-color;
      left: 15%;
      position: absolute;
      bottom: 0;
    }
    &__design-info {
      color: $accent-color-dark;
    }
    &__designer {
      text-align: start;
    }
  }
}
