// MOBILE

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 11.3rem;
  position: relative;

  &__main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    font-size: 3rem;

    span {
      color: $secondary-color;
      &:nth-child(2) {
        -webkit-text-stroke: 0.2rem $secondary-color;
        color: transparent;
        font-size: 5.5rem;
        position: relative;
        line-height: 100%;
        margin-bottom: 2rem;

        z-index: -1;
        &::before {
          content: "";
          position: absolute;
          // border-radius: 0 10rem 0 0;
          bottom: 2px;
          width: 105%;
          height: 100%;
          background: $primary-color;
          z-index: -2;
        }
        &::after {
          content: "stron";
          position: absolute;
          left: -0.1rem;
          bottom: -22%;
          color: transparent;
          z-index: -3;
        }
      }
    }
  }
  &__image {
    margin: 0 auto;
    max-width: 40rem;
  }
}
// screen under 320px
@media screen and (max-width: 320px) {
  .main-header__main-title {
    font-size: 2rem;
    span {
      &:nth-child(2) {
        font-size: 4rem;
      }
    }
  }
  .main-header__image {
    width: 100%;
  }
}

// TABLETS

@media screen and (min-width: 750px) {
  .main-header {
    margin-top: 22rem;
    &__main-title {
      font-size: 5.5rem;

      span {
        color: $secondary-color;
        margin-bottom: 1rem;
        &:nth-child(2) {
          margin-bottom: 2rem;
        }
      }
    }
    &__image {
      margin: 3rem auto 0;
      max-width: 60rem;
    }
  }
}

// Desktop
@media screen and (min-width: 1050px) {
  .main-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-bottom: 25rem;

    width: 90%;
    margin: 11.3rem auto 25rem;

    &__main-title {
      align-items: flex-start;
      font-size: 6rem;

      span {
        transition: 0.3s all ease-in-out;
        &:nth-child(2) {
          font-size: 12rem;
          margin-bottom: 5rem;
          z-index: -1;
        }
      }
    }
    &__image {
      margin: 0;
      position: absolute;
      right: -2%;
      max-width: unset;
      width: 50%;
      height: auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  .main-header {
    max-width: 80%;
    margin: 11.3rem auto 25rem;

    &__main-title {
      font-size: 6rem;

      span {
        &:nth-child(2) {
          margin-left: 5rem;
        }
        &:nth-child(3) {
          margin-left: 10rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1550px) {
  .main-header {
    max-width: 82%;
    margin: 11.3rem auto 25rem;
    &__main-title {
      font-size: 7rem;
      border: 2px;

      span {
        &:nth-child(2) {
          font-size: 17rem;
        }
      }
    }
  }
}
