.header {
  background: linear-gradient(
      to bottom,
      rgba(119, 186, 215, 0.578),
      rgba(4, 58, 100, 0.747)
    ),
    url(../images/header-mobile-bg-small.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 1px;

  .header__title {
    color: white;
    margin-top: 150px;
    padding: 1rem;
    letter-spacing: 5px;
    background-color: rgb(var(--main-color), 0.3);
    backdrop-filter: blur(5px);
  }
  button {
    position: absolute;
    bottom: 2rem;
    transform: translate(-50%, 0);
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgb(255, 255, 255);
      transform: translate(-50%, -2px);
      box-shadow: 0 5px 10px -5px rgb(103, 102, 102);
      padding: 5px 30px;
      color: rgba(var(--secondary-color));
      border: 5px solid rgba(var(--secondary-color));
    }
  }
}

@media only screen and (min-width: 788px) {
  .header {
    background: linear-gradient(
        to bottom,
        rgba(var(--main-color), 0.1),
        rgba(var(--secondary-color), 0.4)
      ),
      url(../images/header-desktop-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
      color: white;
      margin-top: 20rem;
      padding: 3rem;
      font-size: 3rem;
      display: block;
    }
  }
}
