.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;

  &__main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    font-size: 3rem;

    span {
      color: $secondary-color;
      &:nth-child(2) {
        -webkit-text-stroke: 0.2rem $secondary-color;
        color: transparent;
        font-size: 5.5rem;
        position: relative;
        line-height: 100%;
        margin-bottom: 1.2rem;

        z-index: -1;
        &::before {
          content: "";
          position: absolute;
          border-radius: 0 10rem 0 0;
          bottom: 2px;
          width: 105%;
          height: 100%;
          background: $primary-color;
          z-index: -2;
        }
        &::after {
          content: "stron";
          position: absolute;
          left: -0.1rem;
          bottom: -20%;
          color: transparent;
          z-index: -3;
        }
      }
    }
  }
  &__image {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (min-width: 650px) {
  .main-header {
    flex-direction: column;
    margin-top: 0rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    &__main-title {
      font-size: 5.5rem;
      width: 100%;
      padding: 5rem;

      span {
        &:nth-child(2) {
          font-size: 5.5rem;
          line-height: 95%;
          margin-bottom: 1rem;
        }
      }
    }
    &__image {
      z-index: -2;
      // width: 80%;
    }
  }
}
@media screen and (min-width: 1150px) {
  .main-header {
    flex-direction: row;
    margin-top: 5rem;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 2rem;
    position: relative;

    &__main-title {
      font-size: 7.5rem;
      width: 100%;
      padding: 0rem;
      margin: 0;
      align-items: flex-start;

      span {
        &:nth-child(2) {
          font-size: 11rem;
          line-height: 95%;
          margin-bottom: 2rem;
          margin-left: 8%;
          background: linear-gradient(
            to right,
            black,
            black 90%,
            rgba(0, 0, 0, 0)
          );
        }
        &:nth-child(3) {
          margin-left: 10%;
        }
      }
    }
    &__image {
      height: 100%;
      width: auto;
      position: absolute;
      margin-left: 50%;
    }
  }
}
@media screen and (min-width: 1450px) {
  .main-header {
    &__main-title {
      font-size: 8.5rem;

      span {
        &:nth-child(2) {
          font-size: 18rem;
          margin-bottom: 5rem;
        }
      }
    }
  }
}
