* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --main-color: 214, 238, 254;
  --secondary-color: 19, 125, 197;
}

body {
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  top: 0;
  height: 5rem;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  background: linear-gradient(
    to top right,
    rgb(var(--main-color), 0.5),
    60%,
    rgb(var(--secondary-color), 0.5)
  );
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(10px);

  .logo {
    margin-left: 1rem;
    height: 4rem;
  }
  .navbar__menu-desktop {
    display: none;
  }

  .navbar__menu-mobile {
    position: absolute;
    top: 100px;
    transform: translateX(-100%);
    transition: 0.5s all ease-in-out;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(10px);
  }
  .menu__item {
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    transition: 0.2s all ease-in-out;
    background-color: rgb(var(--main-color), 0.9);

    .link {
      align-items: center;
      color: rgba(var(--secondary-color));
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      transition: 0.2s all ease-in-out;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 3px;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        bottom: 3px;
        height: 3px;
        background-color: white;
        transform: translate(-50%, 100%);
        transition: 0.2s all ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: rgb(var(--secondary-color));
      }
    }
  }
  .navbar__menu-mobile-open {
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 788px) {
  .navbar {
    z-index: 10;
    .navbar__menu-mobile {
      display: none;
    }
    .navbar__menu-desktop {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-direction: row;
      height: 100%;
      .menu__item {
        height: 100%;
        width: auto;
        background: none;

        .link {
          height: 100%;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
