.bg-shadow {
  background-color: rgba(26, 26, 26, 0.55);
}
.logo__container-mobile {
  // width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .logo {
    height: 90%;
    align-self: flex-end;
  }
}
.logo__container-desktop {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  z-index: 100;
  transition: all 0.3s;

  .hamburger {
    height: 3rem;
    width: 3.7rem;
    margin-left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bar {
      height: 0.5rem;
      width: 100%;
      background-color: $secondary-color;
      &:nth-child(1) {
        width: 70%;
      }
    }
    &--open {
      .bar {
        transition: background-color 0.3s ease-in;
      }
    }
  }
  &__menu-desktop {
    display: none;
  }
  &__menu-mobile {
    top: 50%;
    left: 50%;
    transform: translate(-180%, -50%);
    position: fixed;
    width: 80%;
    height: 35.3rem;
    background-color: #79ffd7a4;
    border-radius: 0 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    transition: transform 0.5s ease-in-out;
    backdrop-filter: blur(20px);

    .menu__item {
      padding: 1rem;
      width: auto;
      display: inline-block;
      transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
      text-align: center;
      width: 50%;

      &:hover {
        transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
        background-color: $accent-color-dark;
        width: 100%;
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 2.2rem;
        line-height: 2.7rem;
      }
    }
    &--open {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: white;
  }
  .logo__container-mobile {
    display: none;
  }
  .logo__container-desktop {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.8rem;
  }
  .navbar {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: $secondary-color;
    justify-content: space-around;
    flex-direction: column;
    position: static;

    .hamburger {
      display: none;
    }
    .navbar__menu-mobile {
      display: none;
    }
    .navbar__menu-desktop {
      width: 80rem;
      list-style: none;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      padding: 1rem 0;

      .current-page-tracker {
        height: 100%;
        width: 18rem;
        position: absolute;
        top: 0;
        left: -2rem;
        // transform: none;
        transition: 0.3s transform ease-in-out;
      }
      .menu__item {
        text-align: center;
        position: relative;

        a {
          font-size: 2rem;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    flex-direction: row;
  }
}
