.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10.2rem;

  &__title {
    width: 90%;
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 4rem;
    color: $secondary-color;
    border: 4px solid $secondary-color;
    text-align: center;
    padding: 1.4rem 3.3rem;
    border-radius: 0 8rem 0 8rem;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
    transform: translateY(80%);
    z-index: 10;
    background-color: $primary-color;
  }

  &__gear {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;

      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      gap: 1rem;
      min-width: 30.3rem;

      &__item {
        display: flex;

        gap: 2.5rem;

        &-number {
          font-size: 5rem;
          -webkit-text-fill-color: $primary-color; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: $secondary-color;
          text-align: end;

          width: 5rem;
        }

        &-text {
          font-family: "Jost", sans-serif;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $secondary-color;
        }
      }

      &-btn {
        font-family: "Helvetica-Nouel";
        font-size: 1.7rem;
        background: $secondary-color;
        border-bottom-left-radius: 6rem;
        border-top-right-radius: 6rem;
        width: 100%;
        margin-top: 3.5rem;
        padding: 1.5rem;

        color: $primary-color;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
        text-decoration: none;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
          background-color: $primary-color;
          padding-top: 1.5rem;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: none;
          border: 3px solid $secondary-color;
          bottom: -15%;
          right: -5%;
          border-bottom-left-radius: 6rem;
          border-top-right-radius: 6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 412px) {
  .process {
    &__title {
      width: 80%;
      color: #79ffd7;
      text-align: center;
      z-index: 10;
      background-color: #000;
      border: 3px solid #79ffd7;
      border-radius: 0 6rem;
      margin: 0 auto;
      padding: 1.5rem 1.5rem;
      font-size: 2rem;
      position: relative;
      transform: translateY(80%);
      line-height: 2.7rem;
      margin-top: 4rem;
    }
  }
}
@media screen and (min-width: 414px) {
  .process {
    &__title {
      max-width: 57.5rem;
      border-radius: 0 8rem;
      padding: 1rem 1rem;
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .process {
    margin-bottom: 15rem;
    &__title {
      width: 80%;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .process__gear__box {
    width: auto;
    &-btn {
      max-width: 35rem;
      margin: 2rem auto 0;
    }
    &__item {
      gap: 4rem;
    }
    &__item-text {
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 1050px) {
  .process {
    &__title {
      font-size: 4.5rem;
      min-width: 100rem;
    }
    &__gear__box {
      gap: 4rem;
    }
    &__gear__box__item {
      gap: 4rem;
    }
    &__gear__box__item-text {
      font-size: 2.7rem;
    }
    &__gear-img {
      width: 95rem;
    }
  }
}
@media screen and (min-width: 1920px) {
  .process__title {
    min-width: 100rem;
    height: 12rem;
    font-size: 4.5rem;
    margin: 0;
    border-radius: 0 10rem 0 10rem;
  }
  .process__gear__box-btn {
    height: 7rem;
    border-radius: 0 7rem 0 7rem;
    font-size: 2rem;
  }
}
