.process {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 8.2rem;

  &__title {
    margin: 0 auto;
    margin-top: 6.1rem;
    width: 80%;
    background-color: $primary-color;
    border: 3px solid $secondary-color;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    text-align: center;
    padding: 3.5rem 0;
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }

  &__gear {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-img {
      position: absolute;
      bottom: 4%;
      left: -42%;
      z-index: -1;
      width: 70rem;
    }

    &__box {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -5rem;
      left: 0;
      gap: 1rem;

      &__item {
        display: flex;
        gap: 2.5rem;

        &-number {
          font-size: 5rem;
          -webkit-text-fill-color: $primary-color; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: $secondary-color;
          width: 4.8rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &--bigger {
            font-size: 5.7rem;
          }
        }

        &-text {
          font-family: "Jost", sans-serif;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $secondary-color;
        }
      }

      &-btn {
        font-family: "Helvetica-Nouel";
        font-size: 1.4rem;
        background: $secondary-color;
        border-bottom-left-radius: 6rem;
        border-top-right-radius: 6rem;
        width: 100%;
        margin: 3.5rem auto 0;
        color: $font-color-mobile-menu;
        text-align: center;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
        text-decoration: none;
        position: relative;
        bottom: 0%;
        left: 0%;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
          background-color: $primary-color;
          padding-top: 1.5rem;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: none;
          border: 3px solid $secondary-color;
          bottom: -15%;
          right: -5%;
          border-bottom-left-radius: 6rem;
          border-top-right-radius: 6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .process__gear-img {
    bottom: 25%;
    left: -35%;
  }

  .process__gear__box {
    top: -16rem;
  }

  .process {
    margin-bottom: -16rem;
  }

  // footer .footer__img {
  //   left: -40%;
  // }

  // footer .footer__mobile {
  //   top: -1rem;
  // }

  // footer .footer__text-box {
  //   bottom: -15rem;
  // }
}
