//Colors
$primary-color: #000;
$secondary-color: #79ffd7;
$accent-color-dark: #ff630b;
$accent-color-bright: #ff7f08;
$primary-font-color: #79ffd7;
$secondary-font-color: #ff630b;
$font-color-mobile-menu: #ffffff;
$font-color-bright: #bebebe;
$font-color-darkness: rgba(30, 30, 30, 0.481);

// Fonts
$primary-font: "Helvetica-Nouel";

// Shadows
$text-shadow-mobile-menu: 0px 4px 10px rgba(0, 0, 0, 0.3);
