.worth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2.2rem;
    background: $secondary-color;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    width: 90%;
    margin: 0 auto;
    color: $font-color-mobile-menu;
    text-align: center;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 4.2rem;
  }

  &__text {
    font-family: "Jost", sans-serif;
    color: $secondary-color;
    font-size: 1.7rem;
    width: 85%;
    text-align: center;
    margin: 0 auto 4.8rem;
  }

  &__box {
    width: 80%;
    background-color: $secondary-color;
    padding: 2rem;
    margin: 0 auto 4.8rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;

    &-title {
      font-size: 2rem;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
      color: $font-color-mobile-menu;
      text-align: center;
      margin-bottom: 1rem;
    }

    &-text {
      color: $primary-color;
      font-size: 1.4rem;
      font-family: "Jost", sans-serif;
      text-align: center;
    }
  }
}
