@charset "UTF-8";
.button {
  border: 3px solid #79ffd7;
  color: #79ffd7;
  background: none;
  border-radius: 0 13rem;
  font-family: Helvetica-Nouel, sans-serif;
  font-size: 2.2rem;
  padding: 1.3rem 5.9rem 1.86rem 5.9rem;
  text-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease;
  position: relative;
}
.button::before {
  transition: all 0.5s ease;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff630b;
  left: -4%;
  top: -15%;
  z-index: -1;
  border-radius: 0 13rem;
  box-shadow: 0px 0.5rem 1.5rem rgba(255, 255, 255, 0.3);
}
.button:hover {
  color: white;
  transition: all 0.5s ease;
}
.button:hover::before {
  transition: all 0.5s ease;
  background-color: #79ffd7;
  color: white;
}

.bg-shadow {
  background-color: rgba(26, 26, 26, 0.55);
}

.logo__container-mobile {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo__container-mobile .logo {
  height: 90%;
  align-self: flex-end;
}

.logo__container-desktop {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  z-index: 100;
  transition: all 0.3s;
}
.navbar .hamburger {
  height: 3rem;
  width: 3.7rem;
  margin-left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .hamburger .bar {
  height: 0.5rem;
  width: 100%;
  background-color: #79ffd7;
}
.navbar .hamburger .bar:nth-child(1) {
  width: 70%;
}
.navbar .hamburger--open .bar {
  transition: background-color 0.3s ease-in;
}
.navbar__menu-desktop {
  display: none;
}
.navbar__menu-mobile {
  top: 50%;
  left: 50%;
  transform: translate(-180%, -50%);
  position: fixed;
  width: 80%;
  height: 35.3rem;
  background-color: rgba(121, 255, 215, 0.6431372549);
  border-radius: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.navbar__menu-mobile .menu__item {
  padding: 1rem;
  width: auto;
  display: inline-block;
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  text-align: center;
  width: 50%;
}
.navbar__menu-mobile .menu__item:hover {
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  background-color: #ff630b;
  width: 100%;
}
.navbar__menu-mobile .menu__item a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: 2.7rem;
}
.navbar__menu-mobile--open {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: white;
  }
  .logo__container-mobile {
    display: none;
  }
  .logo__container-desktop {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.8rem;
  }
  .navbar {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: #79ffd7;
    justify-content: space-around;
    flex-direction: column;
    position: static;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .navbar__menu-mobile {
    display: none;
  }
  .navbar .navbar__menu-desktop {
    width: 80rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1rem 0;
  }
  .navbar .navbar__menu-desktop .current-page-tracker {
    height: 100%;
    width: 18rem;
    position: absolute;
    top: 0;
    left: -2rem;
    transition: 0.3s transform ease-in-out;
  }
  .navbar .navbar__menu-desktop .menu__item {
    text-align: center;
    position: relative;
  }
  .navbar .navbar__menu-desktop .menu__item a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    flex-direction: row;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.main-header__main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #79ffd7;
  font-size: 3rem;
}
.main-header__main-title span {
  color: #79ffd7;
}
.main-header__main-title span:nth-child(2) {
  -webkit-text-stroke: 0.2rem #79ffd7;
  color: transparent;
  font-size: 5.5rem;
  position: relative;
  line-height: 100%;
  margin-bottom: 1.2rem;
  z-index: -1;
}
.main-header__main-title span:nth-child(2)::before {
  content: "";
  position: absolute;
  border-radius: 0 10rem 0 0;
  bottom: 2px;
  width: 105%;
  height: 100%;
  background: #000;
  z-index: -2;
}
.main-header__main-title span:nth-child(2)::after {
  content: "stron";
  position: absolute;
  left: -0.1rem;
  bottom: -20%;
  color: transparent;
  z-index: -3;
}
.main-header__image {
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 650px) {
  .main-header {
    flex-direction: column;
    margin-top: 0rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .main-header__main-title {
    font-size: 5.5rem;
    width: 100%;
    padding: 5rem;
  }
  .main-header__main-title span:nth-child(2) {
    font-size: 5.5rem;
    line-height: 95%;
    margin-bottom: 1rem;
  }
  .main-header__image {
    z-index: -2;
  }
}
@media screen and (min-width: 1150px) {
  .main-header {
    flex-direction: row;
    margin-top: 5rem;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 2rem;
    position: relative;
  }
  .main-header__main-title {
    font-size: 7.5rem;
    width: 100%;
    padding: 0rem;
    margin: 0;
    align-items: flex-start;
  }
  .main-header__main-title span:nth-child(2) {
    font-size: 11rem;
    line-height: 95%;
    margin-bottom: 2rem;
    margin-left: 8%;
    background: linear-gradient(to right, black, black 90%, rgba(0, 0, 0, 0));
  }
  .main-header__main-title span:nth-child(3) {
    margin-left: 10%;
  }
  .main-header__image {
    height: 100%;
    width: auto;
    position: absolute;
    margin-left: 50%;
  }
}
@media screen and (min-width: 1450px) {
  .main-header__main-title {
    font-size: 8.5rem;
  }
  .main-header__main-title span:nth-child(2) {
    font-size: 18rem;
    margin-bottom: 5rem;
  }
}
.offer {
  min-height: 100vh;
  font-weight: 100;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.offer__title {
  width: 90%;
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  color: #79ffd7;
  border: 4px solid #79ffd7;
  text-align: center;
  padding: 1.4rem 3.3rem;
  border-radius: 0 8rem 0 8rem;
}
.offer__container {
  display: grid;
}
.offer__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 7rem;
}
.offer__item__img {
  width: 80%;
}
.offer__item__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79ffd7;
  color: #000;
  position: absolute;
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  font-weight: 900;
  bottom: 13%;
  text-align: center;
  padding: 2rem;
  width: 90%;
  height: 8.1rem;
}
.offer__form-link {
  background-color: #ff630b;
  margin: 11.6rem auto;
  text-decoration: none;
  border-radius: 0 6rem 0 6rem;
  display: block;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  color: transparent;
  transition: all 0.3s;
  position: relative;
}
.offer__form-link:hover {
  background-color: #79ffd7;
}
.offer__form-link:hover::after {
  color: #000;
  transition: 0.2s all ease;
}
.offer__form-link::after {
  content: "Przejdź do formularza";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 13%;
  left: 4%;
  padding: 2rem;
  border: 5px solid #79ffd7;
  border-radius: 0 6rem 0 6rem;
  color: #79ffd7;
  transition: 0.2s all ease;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
}

@media screen and (min-width: 750px) {
  .offer__title {
    font-size: 2.5rem;
    width: 70%;
  }
  .offer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .offer__item {
    width: 90%;
    margin: 0 auto;
    margin-top: 9rem;
  }
  .offer__item__text {
    height: 8rem;
    font-size: 2rem;
    padding: 2rem;
    transition: 0.3s font-size ease;
    top: 65%;
  }
  .offer__form-link {
    font-size: 3rem;
    padding: 2rem 6rem;
  }
}
@media screen and (min-width: 1300px) {
  .offer__item__text {
    width: 90%;
    height: 10rem;
    font-size: 2.5rem;
    padding: 2rem;
    top: 65%;
    transition: 0.3s font-size ease;
  }
}
.worth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.worth__title {
  font-size: 2.2rem;
  background: #79ffd7;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  width: 90%;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
  margin-bottom: 4.2rem;
}
.worth__text {
  font-family: "Jost", sans-serif;
  color: #79ffd7;
  font-size: 1.7rem;
  width: 85%;
  text-align: center;
  margin: 0 auto 4.8rem;
}
.worth__box {
  width: 80%;
  background-color: #79ffd7;
  padding: 2rem;
  margin: 0 auto 4.8rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}
.worth__box-title {
  font-size: 2rem;
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
}
.worth__box-text {
  color: #000;
  font-size: 1.4rem;
  font-family: "Jost", sans-serif;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .worth {
    position: relative;
    border: 3px solid #79ffd7;
    width: 90%;
    border-radius: 0 15rem 0 15rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .worth__title {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-size: 6rem;
    padding: 1rem 10rem;
    border-radius: 0 10rem 0 10rem;
  }
  .worth__text {
    width: 80%;
    font-size: 2.5rem;
    margin-top: 12rem;
  }
  .worth__big-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10rem;
    gap: 2rem;
  }
  .worth__box {
    width: 25%;
    margin: 2rem;
  }
  .worth__box-title {
    font-size: 2.2rem;
  }
  .worth__box-text {
    font-size: 2rem;
  }
}
.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}
.process__title {
  margin: 0 auto;
  background-color: #000;
  border: 3px solid #79ffd7;
  width: 80%;
  color: #79ffd7;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0 6rem 0 6rem;
  font-size: 2rem;
  position: relative;
  z-index: 10;
  transform: translateY(80%);
}
.process__gear {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.process__gear__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  gap: 1rem;
}
.process__gear__box__item {
  display: flex;
  gap: 2.5rem;
}
.process__gear__box__item-number {
  font-size: 5rem;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #79ffd7;
  text-align: end;
  width: 5rem;
}
.process__gear__box__item-text {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #79ffd7;
}
.process__gear__box-btn {
  font-family: "Helvetica-Nouel";
  font-size: 1.4rem;
  background: #79ffd7;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  width: 100%;
  margin-top: 3.5rem;
  padding: 1.5rem;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
.process__gear__box-btn:hover {
  color: #79ffd7;
  background-color: #000;
  padding-top: 1.5rem;
}
.process__gear__box-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  border: 3px solid #79ffd7;
  bottom: -15%;
  right: -5%;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

@media screen and (min-width: 768px) {
  .process__title {
    width: 50%;
  }
  .process__gear__box {
    width: auto;
  }
}
@media screen and (min-width: 850px) {
  .process__title {
    width: 50%;
  }
}
.about-us__header {
  width: 100%;
  margin-top: 13.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__header__title {
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.857);
  font-size: 2.2rem;
  background-color: #79ffd7;
  padding: 1.2rem 6rem;
  border-radius: 0 6rem 0 6rem;
  box-shadow: 0 0.4rem 1.5rem -0.5rem #ffffff;
  margin-bottom: 2rem;
}
.about-us__header__text-container,
.about-us__header .text-container {
  padding: 5rem 5rem;
  font-family: "jost", sans-serif;
  color: #79ffd7;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
}
.about-us__header__text-container__paragraph,
.about-us__header .text-container__paragraph {
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
}
.about-us__header__text-container .bold,
.about-us__header .text-container .bold {
  font-weight: 600;
}
.about-us__team,
.about-us .team {
  color: #79ffd7;
  margin: 4rem auto;
  display: inline-block;
  text-align: center;
}
.about-us__team__title,
.about-us .team__title {
  font-size: 3rem;
  margin-bottom: 3.8rem;
  letter-spacing: 1rem;
}
.about-us__team__member,
.about-us .team__member {
  margin-bottom: 5rem;
}
.about-us__team__member__photo,
.about-us .team__member__photo {
  width: 20rem;
}
.about-us__team__member__description,
.about-us__team__member .description,
.about-us .team__member__description,
.about-us .team__member .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__team__member__description__name,
.about-us__team__member .description__name,
.about-us .team__member__description__name,
.about-us .team__member .description__name {
  color: #ffffff;
  font-size: 2.2rem;
  margin-bottom: 0rem;
  line-height: 4.5rem;
}
.about-us__team__member__description__job,
.about-us__team__member .description__job,
.about-us .team__member__description__job,
.about-us .team__member .description__job {
  font-size: 2.2rem;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 0.16rem;
  line-height: 3.2rem;
}
.about-us__team__member__description__text,
.about-us__team__member .description__text,
.about-us .team__member__description__text,
.about-us .team__member .description__text {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  line-height: 2.5rem;
  width: 80%;
}

@media screen and (min-width: 750px) {
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-us__header {
    width: 90%;
    margin: 0 auto;
    margin-top: 80rem;
    border: 5px solid #79ffd7;
    position: relative;
    border-radius: 0 10rem 0 10rem;
    text-align: center;
  }
  .about-us__header__title {
    max-width: 80%;
    font-size: 5.5rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
  .about-us__header__img {
    position: absolute;
    top: -70rem;
    width: 70%;
    transition: 0.5s ease-in-out all;
  }
  .about-us__header .text-container {
    font-size: 2.2rem;
    text-align: start;
    padding: 10rem 8rem;
  }
  .about-us__team__title,
.about-us .team__title {
    font-size: 8rem;
    margin: 15rem;
  }
  .about-us__team__members-wraper,
.about-us .team__members-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-us__team__member,
.about-us .team__member {
    width: 50%;
  }
  .about-us__team__member__photo,
.about-us .team__member__photo {
    width: 30rem;
  }
  .about-us__team__member__description__name,
.about-us__team__member .description__name,
.about-us .team__member__description__name,
.about-us .team__member .description__name {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
  .about-us__team__member__description__job,
.about-us__team__member .description__job,
.about-us .team__member__description__job,
.about-us .team__member .description__job {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
  .about-us__team__member__description__text,
.about-us__team__member .description__text,
.about-us .team__member__description__text,
.about-us .team__member .description__text {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}
@media screen and (min-width: 900px) {
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us__header {
    width: 90%;
    margin-top: 20rem;
    border: 5px solid #79ffd7;
    position: relative;
    border-radius: 0 20rem 0 20rem;
  }
  .about-us__header__img {
    position: absolute;
    max-width: 45rem;
    top: unset;
    bottom: 0;
    right: 1%;
    transform: translateY(50%);
  }
  .about-us__header__title {
    width: 60%;
    font-size: 6rem;
    text-align: center;
    position: absolute;
    top: 0;
    transform: translateY(-40%);
  }
  .about-us__header .text-container {
    font-size: 2.2rem;
    text-align: start;
  }
  .about-us__header .text-container__paragraph:last-child {
    margin-right: 50%;
  }
  .about-us .team__title {
    margin-top: 25rem;
  }
}
.faq {
  position: relative;
}
.faq__header {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 7rem;
}
.faq__header__image {
  max-width: 90%;
}
.faq__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__item {
  width: 90%;
  margin-bottom: 7rem;
  border: 2px solid #79ffd7;
  border-radius: 0 8rem 0 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background-color: black;
}
.faq__item__question-container {
  background-color: #79ffd7;
  width: 100%;
  border-radius: 0 0 0 8rem;
  z-index: 10;
}
.faq__item__question-container__question {
  font-size: 2.4rem;
  padding: 3.1rem 4.4rem 3.5rem 4.4rem;
  text-align: center;
}
.faq__item__question-container__status-marker {
  display: none;
}
.faq__item__answer-container__answer {
  width: 100%;
  color: white;
  font-size: 2.2rem;
  font-family: Jost, sans-serif;
  text-align: center;
  padding: 3rem 3rem 5rem 3rem;
}
.faq .bg-grid-left {
  position: absolute;
  bottom: 6%;
}
.faq .bg-grid-right {
  position: absolute;
  right: 0%;
  bottom: 40%;
}

@media screen and (min-width: 1000px) {
  .faq__header {
    margin-top: 15rem;
    margin-bottom: 10rem;
  }
  .faq__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 70rem;
  }
  .faq__item {
    border: none;
    border-radius: 0 8rem 0 0;
    position: relative;
    display: flex;
    width: 90%;
    margin-bottom: 1rem;
  }
  .faq__item__question-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12.5rem;
    border-radius: 0 12rem 0 12rem;
  }
  .faq__item__question-container__question {
    padding: 3.75rem 1rem 3.75rem 5rem;
    font-size: 4rem;
  }
  .faq__item__question-container__status-marker,
.faq__item__question-container .status-marker {
    height: 7.7rem;
    width: 7.7rem;
    background-color: #000;
    border-radius: 50%;
    margin-right: 5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .faq__item__question-container__status-marker__bar,
.faq__item__question-container .status-marker__bar {
    height: 0.5rem;
    width: 4rem;
    background-color: #79ffd7;
    position: absolute;
    transition: 0.3s transform ease-in-out;
  }
  .faq__item__question-container__status-marker__bar:nth-child(1),
.faq__item__question-container .status-marker__bar:nth-child(1) {
    transform: rotate(90deg);
  }
  .faq__item__question-container__status-marker__bar--open:nth-child(1),
.faq__item__question-container .status-marker__bar--open:nth-child(1) {
    transform: rotate(-180deg);
    transition: 0.3s transform ease-in-out;
  }
  .faq__item__answer-container {
    border: 3px solid #79ffd7;
    width: 96%;
    border-radius: 0 12rem 0 6rem;
    border-width: 5px;
    padding: 6rem 18rem 2rem 18rem;
    opacity: 0;
    transform: translateY(-5.5rem);
    max-height: 0;
    transition: 0.5s max-height ease-in, 0.5s opacity ease-in;
  }
  .faq__item__answer-container__answer {
    font-size: 3.5rem;
    text-align: start;
    font-size: 3.5rem;
  }
  .faq__item__answer-container__answer--open {
    font-size: 3.5rem;
    transition: 0.3s all ease-in;
  }
  .faq__item__answer-container--open {
    max-height: 100rem;
    padding: 6rem 18rem 2rem 18rem;
    opacity: 1;
    transition: 0.5s max-height ease-in, 0.5s opacity ease-in;
  }
  .faq .bg-grid-left {
    display: none;
  }
  .faq .bg-grid-right {
    display: none;
  }
}
.contact-header {
  width: 90%;
  margin: 15rem auto 8rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-header__title {
  color: #79ffd7;
  font-size: 3.5rem;
  transition: 0.5s font-size ease;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}
.contact-header__image--gear {
  position: absolute;
  transform: translateX(-22%);
  z-index: -2;
  transition: width 0.5s ease;
  width: 18rem;
}
.contact-header__image--phone {
  position: absolute;
  z-index: -1;
  transform: translate(12%, 10%);
  transition: width 0.5s ease-in-out;
  width: 30rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form__label {
  font-family: "Jost", sans-serif;
  color: #79ffd7;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.form__input {
  border: 3px solid #79ffd7;
  width: 100%;
  background: none;
  color: white;
  height: 8rem;
  padding-left: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form__input:focus {
  background-color: #79ffd7;
  color: black;
}

.options-container .wraper {
  position: relative;
}
.options-container .wraper .form__service-type {
  margin-bottom: 0;
}
.options-container .wraper .img-container {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.options-container .service-types {
  width: 100%;
  padding: 2rem 0;
  background-color: white;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s height ease 0.3s, 0.3s opacity ease, 0.1s visibility ease 0.3s;
}
.options-container .service-types .type-wraper {
  font-family: "Jost", sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.options-container .service-types .type-wraper:hover {
  background-color: #79ffd7;
}
.options-container .service-types .type-wraper input {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  accent-color: #79ffd7;
}
.options-container .service-types .type-wraper input::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border: 3px solid #79ffd7;
}
.options-container .service-typse-activ {
  visibility: visible;
  height: 28rem;
  opacity: 1;
  transition: 0.3s height ease, 0.3s opacity ease 0.2s;
}

.form__message {
  padding: 1.5rem;
  min-height: 45rem;
  margin-bottom: 1rem;
}

.button {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

.contact__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(76, 75, 75, 0.271);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  z-index: 2;
}

.contact__overlay--active {
  display: block;
}

.input-error {
  border-color: red;
}

.input-error-2 {
  border-color: red;
}

.error-message {
  width: 100%;
  background: none;
  margin-bottom: 4rem;
  font-family: "Jost", sans-serif;
  color: rgb(255, 255, 255);
  display: none;
  font-size: 1.5rem;
}

.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  z-index: 10;
}
.confirmation__title {
  color: white;
  background-color: #79ffd7;
  font-size: 2rem;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 6rem 0 6rem;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
}
.confirmation__message {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 6rem 2rem 3rem 2rem;
  border-radius: 0 0 0 6rem;
  line-height: 3rem;
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.show-options {
  transition: 0.3s transform ease-in-out;
}

.show-options-active {
  transform: rotateX(180deg);
  transition: 0.3s transform ease-in-out;
}

.confirmation-active {
  display: block;
}

@media only screen and (min-width: 750px) {
  .contact-header {
    margin: 20rem auto 18rem;
  }
  .contact-header__title {
    font-size: 8rem;
    transition: 0.5s font-size ease;
  }
  .contact-header__image--gear {
    width: 36rem;
  }
  .contact-header__image--phone {
    transform: translate(16%, 10%);
    width: 53rem;
  }
  .form__label {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }
  .form__input {
    height: 12.5rem;
    padding-left: 4rem;
    font-size: 3.5rem;
  }
  .options-container .wraper {
    position: relative;
  }
  .options-container .wraper .form__service-type {
    margin-bottom: 0;
  }
  .options-container .wraper .img-container {
    background-color: #79ffd7;
  }
  .options-container .service-types .type-wraper {
    font-size: 3rem;
    padding: 1.5rem;
    padding-left: 4rem;
  }
  .options-container .service-typse-activ {
    visibility: visible;
    height: 34rem;
    opacity: 1;
    transition: 0.3s height ease, 0.3s opacity ease 0.2s;
  }
  .form__message {
    padding: 1.5rem;
    min-height: 45rem;
    margin-bottom: 1rem;
  }
  .button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: 14rem;
  }
  .error-message {
    font-size: 2rem;
  }
  .confirmation__title {
    font-size: 3rem;
    width: 70%;
  }
  .confirmation__message {
    width: 65%;
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact-header {
    margin: 15rem auto 5rem;
  }
  .form__label {
    font-size: 4.5rem;
  }
  .button {
    width: 30%;
  }
  .contact__overlay--active {
    display: block;
  }
  .error-message {
    font-size: 2.5rem;
  }
  .confirmation__title {
    font-size: 4.5rem;
    width: 60%;
  }
  .confirmation__message {
    width: 55%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }
}
.projects__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9.2rem;
  margin-bottom: 5.35rem;
}
.projects__header__img {
  width: 80%;
}
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects__container .project {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 13.7rem;
  height: 100%;
}
.projects__container .project__img-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 5.6rem;
}
.projects__container .project__img-wraper .project__img-filter {
  position: relative;
  overflow: hidden;
}
.projects__container .project__img-wraper .project__img-filter::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: linear-gradient(to bottom, rgb(121, 255, 215) 0%, rgb(121, 255, 215) 100%);
  transition: all 1s ease;
  mix-blend-mode: color;
}
.projects__container .project__img-wraper .project__img-filter:hover::after {
  opacity: 0;
  transition: all 0.3s ease;
}
.projects__container .project__img-wraper .project__img-filter--clear::after {
  opacity: 0;
  transition: all 1s ease;
}
.projects__container .project__img-wraper .project__img-miniature {
  max-width: 100%;
}
.projects__container .project__img-wraper .project__img-gear {
  width: 85%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.projects__container .project__title {
  font-size: 2.4rem;
  color: #79ffd7;
  text-align: center;
  line-height: 3rem;
  max-width: 85%;
  margin-bottom: 3.5rem;
}
.projects__container .project__info {
  font-size: 2.2rem;
  color: white;
  font-family: Jost, sans-serif;
  width: 80%;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 4.5rem;
}
.projects__container .project__button {
  border: 3px solid #79ffd7;
  color: #79ffd7;
  background: none;
  border-radius: 0 13rem;
  font-family: Helvetica-Nouel, sans-serif;
  font-size: 2.2rem;
  padding: 1.3rem 5.9rem 1.86rem 5.9rem;
  text-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease;
  position: relative;
}
.projects__container .project__button:hover {
  color: white;
}
.projects__container .project__button a {
  color: #79ffd7;
  text-decoration: none;
}
.projects__container .project__button a:hover {
  color: white;
}
.projects__container .project__button::before {
  transition: all 0.5s ease;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff630b;
  left: -4%;
  top: -15%;
  z-index: -1;
  border-radius: 0 13rem;
  box-shadow: 0px 0.5rem 1.5rem rgba(255, 255, 255, 0.3);
}
.projects__container .project__button:hover a {
  transition: all 0.5s ease;
  color: white !important;
}
.projects__container .project__button:hover a::before {
  transition: all 0.5s ease;
  background-color: #79ffd7;
}

@media screen and (min-width: 850px) {
  .projects__header {
    margin-top: 4.2rem;
    margin-bottom: 3rem;
  }
  .projects__header__img {
    max-width: 60rem;
  }
  .projects__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: auto;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 145rem;
  }
  .projects__container .project {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    margin-bottom: 0;
  }
  .projects__container .project__img-wraper {
    width: 85%;
    margin-bottom: 10rem;
  }
  .projects__container .project__img-wraper .project__img-miniature {
    width: 100%;
  }
  .projects__container .project__title {
    margin-bottom: 3rem;
    font-size: 3.5rem;
    line-height: 4.4rem;
  }
  .projects__container .project__info {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    line-height: 3.6rem;
  }
}
.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 63rem;
  position: relative;
  background-color: black;
  overflow: hidden;
}
.footer__img {
  width: 200%;
}
.footer__container {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Helvetica-nouel--normal", sans-serif;
  font-size: 2.5rem;
}
.footer__logo {
  display: block;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10rem;
}
.footer__logo img {
  width: 15rem;
}
.footer__list {
  list-style: none;
  text-align: center;
  margin-bottom: 5rem;
}
.footer__list__item__link {
  color: #79ffd7;
  text-decoration: none;
  line-height: 5.5rem;
  text-align: center;
}
.footer__design-info {
  color: #ff630b;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}
.footer__design-info::after {
  margin-top: 1rem;
  height: 0.3rem;
  content: "";
  background-color: #ff630b;
  width: 100%;
  display: block;
}
.footer__designer {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  text-align: center;
}

@-webkit-keyframes rotateFooterBorder {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateFooterBorder {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    height: 80rem;
    padding-top: 1rem;
  }
  .footer__img {
    -webkit-animation: "rotateFooterBorder" 100s linear infinite;
            animation: "rotateFooterBorder" 100s linear infinite;
  }
  .footer__container {
    height: 50%;
    width: 70rem;
    top: 50%;
  }
  .footer__logo {
    display: flex;
    align-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__logo img {
    width: 30rem;
  }
  .footer__list {
    position: absolute;
    right: 15%;
    bottom: -45%;
    text-align: start;
    margin: 0;
  }
  .footer__design-wraper {
    width: 33%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2.5rem;
    color: #79ffd7;
    left: 15%;
    position: absolute;
    bottom: 0;
  }
  .footer__design-info {
    color: #ff630b;
  }
  .footer__designer {
    text-align: start;
  }
}
.contact-header {
  width: 90%;
  margin: 15rem auto 8rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-header__title {
  color: #79ffd7;
  font-size: 3.5rem;
  transition: 0.5s font-size ease;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}
.contact-header__image--gear {
  position: absolute;
  transform: translateX(-22%);
  z-index: -2;
  transition: width 0.5s ease;
  width: 18rem;
}
.contact-header__image--phone {
  position: absolute;
  z-index: -1;
  transform: translate(12%, 10%);
  transition: width 0.5s ease-in-out;
  width: 30rem;
}

.form__row {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form__label {
  font-family: "Jost", sans-serif;
  color: #79ffd7;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.form__input {
  border: 3px solid #79ffd7;
  width: 100%;
  background: none;
  color: white;
  height: 8rem;
  padding-left: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form__input:focus {
  background-color: #79ffd7;
  color: black;
}

.options-container .wraper {
  position: relative;
}
.options-container .wraper .form__service-type {
  margin-bottom: 0;
}
.options-container .wraper .img-container {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.options-container .service-types {
  width: 100%;
  padding: 2rem 0;
  background-color: white;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s height ease 0.3s, 0.3s opacity ease, 0.1s visibility ease 0.3s;
}
.options-container .service-types .type-wraper {
  font-family: "Jost", sans-serif;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.options-container .service-types .type-wraper:hover {
  background-color: #79ffd7;
}
.options-container .service-types .type-wraper input {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  accent-color: #79ffd7;
}
.options-container .service-types .type-wraper input::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border: 3px solid #79ffd7;
}
.options-container .service-typse-activ {
  visibility: visible;
  height: 28rem;
  opacity: 1;
  transition: 0.3s height ease, 0.3s opacity ease 0.2s;
}

.form__message {
  padding: 1.5rem;
  min-height: 45rem;
  margin-bottom: 1rem;
}

.button {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

.contact__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(76, 75, 75, 0.271);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  z-index: 2;
}

.contact__overlay--active {
  display: block;
}

.input-error {
  border-color: red;
}

.input-error-2 {
  border-color: red;
}

.error-message {
  width: 100%;
  background: none;
  margin-bottom: 4rem;
  font-family: "Jost", sans-serif;
  color: rgb(255, 255, 255);
  display: none;
  font-size: 1.5rem;
}

.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  z-index: 10;
}
.confirmation__title {
  color: white;
  background-color: #79ffd7;
  font-size: 2rem;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 6rem 0 6rem;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
}
.confirmation__message {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 6rem 2rem 3rem 2rem;
  border-radius: 0 0 0 6rem;
  line-height: 3rem;
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.show-options {
  transition: 0.3s transform ease-in-out;
}

.show-options-active {
  transform: rotateX(180deg);
  transition: 0.3s transform ease-in-out;
}

.confirmation-active {
  display: block;
}

@media only screen and (min-width: 750px) {
  .contact-header {
    margin: 20rem auto 18rem;
  }
  .contact-header__title {
    font-size: 8rem;
    transition: 0.5s font-size ease;
  }
  .contact-header__image--gear {
    width: 36rem;
  }
  .contact-header__image--phone {
    transform: translate(16%, 10%);
    width: 53rem;
  }
  .form__label {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }
  .form__input {
    height: 12.5rem;
    padding-left: 4rem;
    font-size: 3.5rem;
  }
  .options-container .wraper {
    position: relative;
  }
  .options-container .wraper .form__service-type {
    margin-bottom: 0;
  }
  .options-container .wraper .img-container {
    background-color: #79ffd7;
  }
  .options-container .service-types .type-wraper {
    font-size: 3rem;
    padding: 1.5rem;
    padding-left: 4rem;
  }
  .options-container .service-typse-activ {
    visibility: visible;
    height: 34rem;
    opacity: 1;
    transition: 0.3s height ease, 0.3s opacity ease 0.2s;
  }
  .form__message {
    padding: 1.5rem;
    min-height: 45rem;
    margin-bottom: 1rem;
  }
  .button {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: 14rem;
  }
  .error-message {
    font-size: 2rem;
  }
  .confirmation__title {
    font-size: 3rem;
    width: 70%;
  }
  .confirmation__message {
    width: 65%;
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact-header {
    margin: 15rem auto 5rem;
  }
  .form__label {
    font-size: 4.5rem;
  }
  .button {
    width: 30%;
  }
  .contact__overlay--active {
    display: block;
  }
  .error-message {
    font-size: 2.5rem;
  }
  .confirmation__title {
    font-size: 4.5rem;
    width: 60%;
  }
  .confirmation__message {
    width: 55%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }
}
.project {
  max-width: 300rem;
  margin: 0 auto;
}
.project__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12rem;
}
.project__header__main-title {
  max-width: 90%;
  color: #79ffd7;
  font-size: 3rem;
}
.project__header__link,
.project__header .link {
  text-decoration: none;
  color: white;
  font-family: "jost";
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.project__header__link__current-site,
.project__header .link__current-site {
  display: none;
}
.project__miniature {
  width: 100%;
  margin-top: 4rem;
}
.project__section-title {
  color: #79ffd7;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 4.5rem;
  -webkit-text-stroke: 2.5px #79ffd7;
  color: black;
  background-color: rgb(0, 0, 0);
  line-height: 100%;
  position: relative;
  margin-bottom: 9rem;
  margin-top: 5.5rem;
}
.project__section-title::after {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 2rem;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}
.project__section-title::before {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 4rem;
  z-index: -1;
}
.project .client__title::after {
  content: "Klient";
}
.project .client__title::before {
  content: "Klient";
}
.project .client__info {
  color: white;
  font-family: "Jost";
  font-size: 2.2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.project .work__title::after {
  content: "Projekt";
}
.project .work__title::before {
  content: "Projekt";
}
.project .work__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.project .work__image-container .work__image {
  width: 100%;
}
.project .work__info__step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project .work__info__step .title {
  color: #79ffd7;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
}
.project .work__info__step .describe {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}
.project .work__info__step .arow-down-image {
  margin-top: 4.7rem;
}
.project .write-to-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project .write-to-us__title {
  color: #79ffd7;
  text-align: center;
  font-size: 2.5rem;
  width: 75%;
  margin-top: 5.5rem;
}
.project .write-to-us__message {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 2.5rem;
  margin-top: 2.5rem;
}
.project .write-to-us__button {
  color: black;
  font-size: 2rem;
  padding: 0.5rem 6rem 3rem 4rem;
  margin-top: 4rem;
  cursor: pointer;
}
.project .write-to-us__button::before {
  background-color: #79ffd7;
}
.project__botom-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.project__botom-navigation .project-navigation__link {
  color: white;
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2.2rem;
  padding-bottom: 2rem;
}
.project__botom-navigation .project-navigation__link:last-child {
  transform: translateX(3%);
}
.project__botom-navigation .project-navigation__link .previous-project__icon {
  margin-right: 0.7rem;
}
.project__botom-navigation .project-navigation__link .next-project__icon {
  transform: rotate(180deg);
  margin-left: 0.7rem;
}
.project .unavailable-link {
  color: rgba(255, 255, 255, 0.338);
}

@media screen and (min-width: 750px) {
  .project__header {
    margin-top: 20rem;
  }
  .project__header__main-title {
    width: 80%;
    font-size: 5.5rem;
  }
  .project__header__link,
.project__header .link {
    display: none;
  }
  .project__header__link__current-site,
.project__header .link__current-site {
    display: none;
  }
  .project__miniature {
    margin-top: 10rem;
  }
  .project__section-title {
    font-size: 5rem;
  }
  .project .client__info {
    font-size: 3rem;
  }
  .project .work__title::after {
    content: "Projekt";
  }
  .project .work__title::before {
    content: "Projekt";
  }
  .project .work__image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
  }
  .project .work__image-container .work__image {
    max-width: 60rem;
  }
  .project .work__info__step .title {
    font-size: 4rem;
  }
  .project .work__info__step .describe {
    font-size: 3rem;
  }
  .project .work__info__step .arow-down-image {
    margin-top: 5rem;
  }
  .project .write-to-us__title {
    font-size: 4rem;
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  .project__header {
    flex-direction: column-reverse;
    margin-top: 15rem;
  }
  .project__header__main-title {
    font-size: 6.5rem;
    margin-top: 3rem;
  }
  .project__header__link,
.project__header .link {
    font-size: 2.5rem;
    display: inline;
  }
  .project__header__link__current-site,
.project__header .link__current-site {
    display: inline;
  }
  .project__miniature {
    display: none;
  }
  .project .client__title-container {
    height: 50rem;
    min-width: 50rem;
    background-image: url(../source/images/projects-imgs/gear-title-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project .client__title-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .project__section-title {
    width: 90%;
    font-size: 6.5rem;
    position: relative;
  }
  .project__section-title::before {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 2rem;
    z-index: -10;
    background-color: rgb(0, 0, 0);
  }
  .project__section-title::before {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: -5;
  }
  .project .client {
    display: flex;
    align-items: center;
    padding: 0 10rem;
    gap: 5rem;
    margin-top: 10rem;
  }
  .project .client__title::after {
    content: "Klient";
  }
  .project .client__title::before {
    content: "Klient";
  }
  .project .client__info {
    color: white;
    font-family: "Jost";
    font-size: 2.5rem;
    width: 60%;
    padding: 0;
    margin: 0 auto;
    text-align: start;
  }
  .project .work {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 2rem;
  }
  .project .work__text-wraper {
    transform: translateY(-2%);
    max-width: 100%;
    width: 100%;
  }
  .project .work__title-container {
    height: 50rem;
    max-width: 50rem;
    background-image: url(../source/images/projects-imgs/gear-title-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5rem;
  }
  .project .work__title::after {
    content: "Projekt";
  }
  .project .work__title::before {
    content: "Projekt";
  }
  .project .work__image-container {
    margin-right: 6rem;
    align-self: baseline;
    margin-top: 15rem;
    max-width: 100%;
  }
  .project .work__image-container .work__image {
    width: 100%;
  }
  .project .work__info__step {
    align-items: flex-start;
  }
  .project .work__info__step .title {
    font-size: 3.5rem;
    margin-top: 5rem;
  }
  .project .work__info__step .describe {
    text-align: start;
    width: 100%;
    margin-top: 4rem;
  }
  .project .work__info__step .arow-down-image {
    margin-top: 5rem;
    align-self: center;
    transition: transform 0.5s ease-in-out;
  }
  .project .work__info__step .arow-down-image--left {
    margin-left: 10%;
    transform: rotate(-45deg);
    align-self: flex-start;
  }
  .project .work__info__step .arow-down-image--right {
    transform: rotate(45deg);
    margin-right: 20%;
    align-self: flex-end;
  }
  .project .write-to-us__title {
    font-size: 3.5rem;
    margin-top: 10rem;
  }
  .project .write-to-us__message {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }
  .project .write-to-us__button {
    font-size: 2.5rem;
    margin-top: 6rem;
  }
  .project .write-to-us__button::before {
    background-color: #79ffd7;
  }
  .project__botom-navigation {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
    width: 100%;
    margin-top: 6rem;
  }
  .project__botom-navigation .project-navigation__link {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
  .project__botom-navigation .project-navigation__link:last-child {
    transform: translateX(0);
  }
  .project__botom-navigation .project-navigation__link .previous-project__icon {
    height: 2rem;
    margin-right: 0.7rem;
  }
  .project__botom-navigation .project-navigation__link .next-project__icon {
    transform: rotate(180deg);
    height: 2rem;
    margin-left: 0.7rem;
  }
}
@font-face {
  font-family: "Helvetica-Nouel";
  src: url(../source/fonts/Helvetica-NeueLTW0693BlkExtObl-2.ttf);
}
@font-face {
  font-family: "Helvetica-nouel--normal";
  src: url(../source/fonts/Helvetica-Neue-Medium-Extended.ttf);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica-Nouel", sans-serif;
  background-color: #000;
}

html {
  font-size: 62.5%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */