@import "variables";
@import "navbar";
@font-face {
  font-family: "Helvetica-Nouel";
  src: url(../source/fonts/Helvetica-NeueLTW0693BlkExtObl-2.ttf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
}
