:root {
  --primary-color: #000000;
  --secondary-color:
  rgba(121, 255, 215, 1);
  --accent-color-dark: rgb(255, 99, 11);
  --accent-color-bright: #ff7f08;
  --primary-font-color:#79ffd7:
  --secondary-font-color:#ff630b;
  --font-color-mobile-menu:rgb(255, 255, 255);
  --primary-font: "Helvetica-Nouel" ;
  --text-shadow-mobile-menu: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  position: fixed;
  top: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 5rem 2rem;
  z-index: 100;
}
.navbar .logo {
  color: transparent;
  font-size: 2rem;
  -webkit-text-stroke: 1px white;
  z-index: 10;
}
.navbar .hamburger {
  height: 3rem;
  width: 3.7rem;
  margin-left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .hamburger .bar {
  height: 0.5rem;
  width: 100%;
  background-color: var(--secondary-color);
}
.navbar .hamburger .bar:nth-child(1) {
  width: 70%;
}
.navbar .hamburger--open .bar {
  transition: background-color 0.3s ease-in;
  background-color: black;
}
.navbar__menu-desktop {
  display: none;
}
.navbar__menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;
  background-color: var(--secondary-color);
  border-radius: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 9;
}
.navbar__menu-mobile .menu__item {
  padding: 2rem;
  width: auto;
  display: inline-block;
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  text-align: center;
  width: 50%;
}
.navbar__menu-mobile .menu__item:hover {
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  background-color: var(--accent-color-dark);
  width: 100%;
}
.navbar__menu-mobile .menu__item a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  text-shadow: var(--text-shadow-mobile-menu);
}
.navbar__menu-mobile--open {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 850px) {
  body {
    background-color: white;
  }
  .navbar {
    min-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
    position: fixed;
    background-color: var(--secondary-color);
    justify-content: space-around;
    flex-direction: column;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .navbar__menu-mobile {
    display: none;
  }
  .navbar .navbar__menu-desktop {
    width: 80rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1rem 0;
  }
  .navbar .navbar__menu-desktop .current-page-tracker {
    height: 100%;
    width: 18rem;
    position: absolute;
    top: 0;
    left: -2rem;
    transform: translateX(355%);
    transition: 0.3s transform ease-in-out;
  }
  .navbar .navbar__menu-desktop .menu__item {
    text-align: center;
    position: relative;
  }
  .navbar .navbar__menu-desktop .menu__item a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    flex-direction: row;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.header__main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 900;
}
.header__main-title span {
  color: var(--secondary-color);
}
.header__main-title span:nth-child(2) {
  -webkit-text-stroke: 0.2rem var(--secondary-color);
  color: transparent;
  font-size: 5rem;
  position: relative;
  line-height: 100%;
  margin-bottom: 1.2rem;
  z-index: -1;
}
.header__main-title span:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 105%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -2;
}
.header__main-title span:nth-child(2)::after {
  content: "stron";
  position: absolute;
  left: -0.1rem;
  bottom: -20%;
  color: transparent;
  z-index: -3;
}
.header__image {
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 850px) {
  .header {
    flex-direction: column;
    margin-top: 25rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .header__main-title {
    font-size: 8.5rem;
    width: 100%;
  }
  .header__main-title span:nth-child(1) {
    align-self: flex-start;
  }
  .header__main-title span:nth-child(2) {
    font-size: 19rem;
    line-height: 95%;
    margin-bottom: 5rem;
  }
  .header__main-title span:nth-child(3) {
    align-self: flex-end;
  }
  .header__image {
    z-index: -2;
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
    height: 80rem;
  }
  .header__main-title span:nth-child(3) {
    transform: translateX(-2rem);
  }
  .header__image {
    width: 80%;
  }
}
.offer {
  min-height: 100vh;
  font-weight: 100;
}
.offer__title {
  width: 90%;
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
  text-align: center;
  padding: 1.4rem 3.3rem;
  border-radius: 0 8rem 0 8rem;
}
.offer__container {
  display: grid;
}
.offer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 7rem;
}
.offer__item__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--accent-color-dark);
  position: absolute;
  font-size: 1.6rem;
  bottom: 3rem;
  text-align: center;
  padding: 2rem;
  width: 30rem;
  height: 8.1rem;
}
.offer__form-link {
  color: var(--secondary-color);
  text-align: center;
  padding: 2rem;
  border: 3px solid var(--secondary-color);
  width: 80%;
  margin: 4.1rem auto 7rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  text-decoration: none;
  font-size: 1.4rem;
  position: relative;
  background: none;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
  z-index: 10;
}
.offer__form-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: -4%;
  background-color: var(--accent-color-dark);
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  z-index: 1;
}

@media screen and (min-width: 850px) {
  .offer__title {
    width: 60%;
  }
}
.worth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.worth__title {
  font-size: 2.2rem;
  background: var(--secondary-color);
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  width: 90%;
  margin: 0 auto;
  color: var(--font-color-mobile-menu);
  text-align: center;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
  margin-bottom: 4.2rem;
}
.worth__text {
  font-family: "Jost", sans-serif;
  color: var(--secondary-color);
  font-size: 1.7rem;
  width: 85%;
  text-align: center;
  margin: 0 auto 4.8rem;
}
.worth__box {
  width: 80%;
  background-color: var(--secondary-color);
  padding: 2rem;
  margin: 0 auto 4.8rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}
.worth__box-title {
  font-size: 2rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  color: var(--font-color-mobile-menu);
  text-align: center;
  margin-bottom: 1rem;
}
.worth__box-text {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-family: "Jost", sans-serif;
  text-align: center;
}

.process {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.process__title {
  margin: 0 auto;
  margin-top: 6.1rem;
  width: 80%;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  text-align: center;
  padding: 3.5rem 0;
  font-size: 2rem;
  position: relative;
  z-index: 10;
}
.process__gear {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.process__gear-img {
  position: absolute;
  bottom: 4%;
  left: -42%;
  z-index: -1;
  width: 70rem;
}
.process__gear__box {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -5rem;
  left: 0;
  gap: 1rem;
}
.process__gear__box__item {
  display: flex;
  gap: 2.5rem;
}
.process__gear__box__item-number {
  font-size: 5rem;
  -webkit-text-fill-color: var(--primary-color); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--secondary-color);
  width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__gear__box__item-number--bigger {
  font-size: 5.7rem;
}
.process__gear__box__item-text {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}
.process__gear__box-btn {
  font-family: "Helvetica-Nouel";
  font-size: 1.4rem;
  background: var(--secondary-color);
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  width: 100%;
  margin: 3.5rem auto 0;
  color: var(--font-color-mobile-menu);
  text-align: center;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
  text-decoration: none;
  position: relative;
  bottom: 0%;
  left: 0%;
}
.process__gear__box-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  border: 3px solid var(--secondary-color);
  bottom: -15%;
  right: -5%;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

@font-face {
  font-family: "Helvetica-Nouel";
  src: url(../source/fonts/Helvetica-NeueLTW0693BlkExtObl-2.ttf);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */