:root {
  --primary-color: #000000;
  --secondary-color:
  rgba(121, 255, 215, 1);
  --accent-color-dark: rgb(255, 99, 11);
  --accent-color-bright: #ff7f08;
  --primary-font-color:#79ffd7:
  --secondary-font-color:#ff630b;
  --font-color-mobile-menu:rgb(255, 255, 255);
  --primary-font: "Helvetica-Nouel" ;
  --text-shadow-mobile-menu: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  position: fixed;
  top: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 5rem 2rem;
  z-index: 100;
}
.navbar .logo {
  color: transparent;
  font-size: 2rem;
  -webkit-text-stroke: 1px white;
  z-index: 10;
}
.navbar .hamburger {
  height: 3rem;
  width: 3.7rem;
  margin-left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .hamburger .bar {
  height: 0.5rem;
  width: 100%;
  background-color: var(--secondary-color);
}
.navbar .hamburger .bar:nth-child(1) {
  width: 70%;
}
.navbar .hamburger--open .bar {
  transition: background-color 0.3s ease-in;
  background-color: black;
}
.navbar__menu-desktop {
  display: none;
}
.navbar__menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;
  background-color: var(--secondary-color);
  border-radius: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 9;
}
.navbar__menu-mobile .menu__item {
  padding: 2rem;
  width: auto;
  display: inline-block;
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  text-align: center;
  width: 50%;
}
.navbar__menu-mobile .menu__item:hover {
  transition: background-color 0.2s ease-in-out, width 0.3s ease-out;
  background-color: var(--accent-color-dark);
  width: 100%;
}
.navbar__menu-mobile .menu__item a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  text-shadow: var(--text-shadow-mobile-menu);
}
.navbar__menu-mobile--open {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 850px) {
  body {
    background-color: white;
  }
  .navbar {
    min-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
    position: fixed;
    background-color: var(--secondary-color);
    justify-content: space-around;
    flex-direction: column;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .navbar__menu-mobile {
    display: none;
  }
  .navbar .navbar__menu-desktop {
    width: 80rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1rem 0;
  }
  .navbar .navbar__menu-desktop .current-page-tracker {
    height: 100%;
    width: 18rem;
    position: absolute;
    top: 0;
    left: -2rem;
    transform: translateX(355%);
    transition: 0.3s transform ease-in-out;
  }
  .navbar .navbar__menu-desktop .menu__item {
    text-align: center;
    position: relative;
  }
  .navbar .navbar__menu-desktop .menu__item a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    flex-direction: row;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
.header__main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  font-size: 3rem;
}
.header__main-title span {
  color: var(--secondary-color);
}
.header__main-title span:nth-child(2) {
  -webkit-text-stroke: 0.2rem var(--secondary-color);
  color: transparent;
  font-size: 5rem;
  position: relative;
  line-height: 100%;
  margin-bottom: 1.2rem;
  z-index: -1;
}
.header__main-title span:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 105%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -2;
}
.header__main-title span:nth-child(2)::after {
  content: "stron";
  position: absolute;
  left: -0.1rem;
  bottom: -20%;
  color: transparent;
  z-index: -3;
}
.header__image {
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 850px) {
  .header {
    flex-direction: column;
    margin-top: 25rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .header__main-title {
    font-size: 8.5rem;
    width: 100%;
  }
  .header__main-title span:nth-child(1) {
    align-self: flex-start;
  }
  .header__main-title span:nth-child(2) {
    font-size: 19rem;
    line-height: 95%;
    margin-bottom: 5rem;
  }
  .header__main-title span:nth-child(3) {
    align-self: flex-end;
  }
  .header__image {
    z-index: -2;
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
    height: 80rem;
  }
  .header__main-title span:nth-child(3) {
    transform: translateX(-2rem);
  }
  .header__image {
    width: 80%;
  }
}
@font-face {
  font-family: "Helvetica-Nouel";
  src: url(../source/fonts/Helvetica-NeueLTW0693BlkExtObl-2.ttf);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */