.intro {
  margin: 2rem 0;
  background-color: rgb(var(--main-color));
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(17, 93, 193);
    width: 100%;
    padding: 1rem;
  }

  &__img {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 2rem;
  }
  &__text {
    font-size: 1.5rem;
    color: rgb(152, 25, 25);
  }
  &__button-link {
    color: black;
  }
  &__button-show-projects {
    margin-top: 2rem;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;

    &:hover {
      background-color: rgb(255, 255, 255);
      transform: translateY(-2px);
      box-shadow: 0 5px 10px -5px rgb(103, 102, 102);
      padding: 5px 30px;
      color: rgba(var(--secondary-color));
      border: 5px solid rgba(var(--secondary-color));
    }
  }
}
@media only screen and (min-width: 788px) {
  .intro {
    margin: 5rem 2rem;
    display: flex;
    align-items: center;

    &__img {
      width: 50%;
      border: 5px solid white;
    }
    &__text {
      padding: 3rem;
    }
  }
}
